<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1bigchip.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,313},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>1chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,0},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>
			<key>2bigchip.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,334},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>2chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,32},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>
			<key>3bigchip.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,374},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>3chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,64},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>
			<key>4bigchip.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,388},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>5bigchip.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,409},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>6bigchip.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>7bigchip.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,449},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>8bigchip.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,451},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>add_chip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,249},{185,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,36}</string>
			</dict>
			<key>BT_start_0.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{811,182},{178,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,71}</string>
			</dict>
			<key>BT_start_1.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{882,307},{178,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,71}</string>
			</dict>
			<key>chatBg_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,960},{72,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,52}</string>
			</dict>
			<key>chatBg_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,249},{72,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,52}</string>
			</dict>
			<key>game_ person.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,925},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>game_addScore_cell.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,757},{203,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,92}</string>
			</dict>
			<key>game_bt_addscore.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,632},{140,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,56}</string>
			</dict>
			<key>game_bt_allin.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,558},{199,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,100}</string>
			</dict>
			<key>game_bt_follow.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,960},{140,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,56}</string>
			</dict>
			<key>game_bt_giveup.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,960},{140,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,56}</string>
			</dict>
			<key>game_bt_noAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,772},{140,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,56}</string>
			</dict>
			<key>game_bt_showhand.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,655},{140,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,56}</string>
			</dict>
			<key>game_icon_changetable.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,796},{147,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,43}</string>
			</dict>
			<key>game_icon_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,249},{89,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,85}</string>
			</dict>
			<key>game_icon_leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,653},{143,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,50}</string>
			</dict>
			<key>game_icon_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,711},{145,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,43}</string>
			</dict>
			<key>game_max_add_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,0},{1003,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1003,80}</string>
			</dict>
			<key>game_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,925},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>menu_backGround.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,0},{182,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,256}</string>
			</dict>
			<key>menu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,249},{115,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,64}</string>
			</dict>
			<key>player_B_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,355},{153,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>player_B_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,396},{162,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,64}</string>
			</dict>
			<key>player_S_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,249},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>player_S_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,485},{147,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,59}</string>
			</dict>
			<key>ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,500},{153,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,53}</string>
			</dict>
			<key>slide.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,360},{140,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,72}</string>
			</dict>
			<key>slideBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,0},{396,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,37}</string>
			</dict>
			<key>slideNodeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{558,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{558,249}</string>
			</dict>
			<key>timeProBar_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,508},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>timeProBar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,249},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>
			<key>timeProBar_B_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,182},{173,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,173}</string>
			</dict>
			<key>timeProBar_B_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,772},{153,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>time_pointer.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,0},{67,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,307}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameLayer.png</string>
			<key>realTextureFileName</key>
			<string>GameLayer.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>