<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,107},{33,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,102}}</string>
                <key>sourceSize</key>
                <string>{33,102}</string>
            </dict>
            <key>card11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,212},{33,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,102}}</string>
                <key>sourceSize</key>
                <string>{33,102}</string>
            </dict>
            <key>card12.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,107},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card13.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,212},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card14.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,317},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card15.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card16.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,107},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card17.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,212},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card18.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card19.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,107},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{13,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,103}}</string>
                <key>sourceSize</key>
                <string>{13,103}</string>
            </dict>
            <key>card20.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,351},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card21.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,317},{33,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,102}}</string>
                <key>sourceSize</key>
                <string>{33,102}</string>
            </dict>
            <key>card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,141},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card6.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,381},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card7.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,276},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{60,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,133}}</string>
                <key>sourceSize</key>
                <string>{60,133}</string>
            </dict>
            <key>card_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,137}}</string>
                <key>sourceSize</key>
                <string>{66,137}</string>
            </dict>
            <key>sz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{92,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>sz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,316},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>sz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,413},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>sz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,422},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>sz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,211},{87,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>sz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,308},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dtjCards.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b621d2f46c8772d4155ee74c0563c7d:1/1$</string>
            <key>textureFileName</key>
            <string>dtjCards.png</string>
        </dict>
    </dict>
</plist>
