<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jettonlight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,114},{1,1}}</string>
                <key>offset</key>
                <string>{-76.5,56.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{140,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{140,110}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,154},{148,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,110}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,110}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{150,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{150,104}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,266},{148,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{148,82}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,154},{150,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{150,82}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{150,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{150,106}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{148,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{148,108}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,112},{112,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{112,110}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{96,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{96,108}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,298},{82,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{82,110}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,298},{74,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{74,108}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,226},{70,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{70,110}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,410},{90,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{90,108}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{142,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{142,110}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>jettonlight_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,306},{118,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{118,110}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jetton_light.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:266a6225470a37df264acfa13595e35e$</string>
            <key>textureFileName</key>
            <string>jetton_light.png</string>
        </dict>
    </dict>
</plist>
