<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,458},{116,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{116,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>choujiang_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,458},{62,32}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,65},{62,32}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sp_bottom_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,698},{422,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,69}}</string>
                <key>sourceSize</key>
                <string>{422,69}</string>
            </dict>
            <key>sp_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,113},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>sp_goldIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{244,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,109}}</string>
                <key>sourceSize</key>
                <string>{244,109}</string>
            </dict>
            <key>sp_goldIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,502},{244,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,109}}</string>
                <key>sourceSize</key>
                <string>{244,109}</string>
            </dict>
            <key>sp_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,187},{40,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>sp_pointer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,304},{152,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,172}}</string>
                <key>sourceSize</key>
                <string>{152,172}</string>
            </dict>
            <key>sp_res.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,113},{189,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{189,193}</string>
            </dict>
            <key>sp_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{566,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,565}}</string>
                <key>sourceSize</key>
                <string>{566,565}</string>
            </dict>
            <key>sp_ring2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{558,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,555}}</string>
                <key>sourceSize</key>
                <string>{558,555}</string>
            </dict>
            <key>sp_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,522},{349,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,29}}</string>
                <key>sourceSize</key>
                <string>{349,29}</string>
            </dict>
            <key>sp_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,262},{434,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,39}}</string>
                <key>sourceSize</key>
                <string>{434,39}</string>
            </dict>
            <key>table_sp_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{542,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,549}}</string>
                <key>sourceSize</key>
                <string>{542,549}</string>
            </dict>
            <key>table_sp_table2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{674,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,498}}</string>
                <key>sourceSize</key>
                <string>{674,498}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133b4d6711972d6e7e4718c23ee4410f$</string>
            <key>textureFileName</key>
            <string>table.png</string>
        </dict>
    </dict>
</plist>
