<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_1{CAFCEF22-62A7-415B-BED2-3C90EE0A6B12}.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2674},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>background_2{B4ED5A8B-CB89-40B1-B174-11C4F6808F3D}.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>background_3{EFADCA18-C7A1-47D9-AAD9-41F33A91DC95}.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>background{4B66B693-B02B-40D4-A16D-03107CBD6E9D}.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>logo_name_00{7FF60202-34C2-49FF-B39A-A1CB1F1DDD37}.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{609,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,224}}</string>
                <key>sourceSize</key>
                <string>{609,224}</string>
            </dict>
            <key>wait_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{598,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,25}}</string>
                <key>sourceSize</key>
                <string>{598,25}</string>
            </dict>
            <key>wait_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{594,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,7}}</string>
                <key>sourceSize</key>
                <string>{594,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base_platform_default.png</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9c3c1bde295618c9b587b428eabd8f9:1/1$</string>
            <key>textureFileName</key>
            <string>base_platform_default.png</string>
        </dict>
    </dict>
</plist>
