<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ai_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{176,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{176,54}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>ai_btn_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,698},{176,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{176,54}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>battery_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,982},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>battery_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>battery_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,289},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>battery_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,257},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>battery_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,208},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>bt_exitSetLayer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bt_exitSetLayer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,303},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bt_off_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{169,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,51}}</string>
                <key>sourceSize</key>
                <string>{169,51}</string>
            </dict>
            <key>bt_off_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,566},{169,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,51}}</string>
                <key>sourceSize</key>
                <string>{169,51}</string>
            </dict>
            <key>bt_on_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,513},{169,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,51}}</string>
                <key>sourceSize</key>
                <string>{169,51}</string>
            </dict>
            <key>bt_on_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,460},{169,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,51}}</string>
                <key>sourceSize</key>
                <string>{169,51}</string>
            </dict>
            <key>exit_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,804},{176,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{176,48}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>exit_btn_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,804},{176,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{176,48}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>more_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{110,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>more_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,375}}</string>
                <key>sourceSize</key>
                <string>{247,375}</string>
            </dict>
            <key>more_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{204,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,2}}</string>
                <key>sourceSize</key>
                <string>{204,2}</string>
            </dict>
            <key>qukuan_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,406},{174,52}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{174,52}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>qukuan_btn_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,352},{174,52}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{174,52}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>qukuan_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,92},{195,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,88}}</string>
                <key>sourceSize</key>
                <string>{195,88}</string>
            </dict>
            <key>setting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,518},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{178,58}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>setting_btn_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,338},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{178,58}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>shop_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,251},{182,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{182,50}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>shop_btn_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{182,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{182,50}}</string>
                <key>sourceSize</key>
                <string>{184,58}</string>
            </dict>
            <key>time_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,303},{176,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,47}}</string>
                <key>sourceSize</key>
                <string>{176,47}</string>
            </dict>
            <key>tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,289},{513,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,64}}</string>
                <key>sourceSize</key>
                <string>{513,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public_res_new.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b99863d01506084bc879e7f4d14b8f8d$</string>
            <key>textureFileName</key>
            <string>public_res_new.png</string>
        </dict>
    </dict>
</plist>
