<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>118_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1652},{194,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,119}</string>
			</dict>
			<key>118_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,80},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>
			<key>118_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,0},{177,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,61}</string>
			</dict>
			<key>118_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,1875},{192,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,119}</string>
			</dict>
			<key>118_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,0},{186,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,57}</string>
			</dict>
			<key>118_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,80},{182,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,57}</string>
			</dict>
			<key>118_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1572},{523,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{523,80}</string>
			</dict>
			<key>118_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,80},{181,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,57}</string>
			</dict>
			<key>118_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,177},{185,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,57}</string>
			</dict>
			<key>118_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,1875},{111,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,89}</string>
			</dict>
			<key>118_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,178},{107,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,89}</string>
			</dict>
			<key>118_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,80},{170,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,58}</string>
			</dict>
			<key>118_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,394},{104,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,89}</string>
			</dict>
			<key>118_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,232},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>118_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,591},{95,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,89}</string>
			</dict>
			<key>118_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,332},{93,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,89}</string>
			</dict>
			<key>118_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,594},{90,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,89}</string>
			</dict>
			<key>118_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,680},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>118_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,413},{93,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,89}</string>
			</dict>
			<key>118_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,498},{96,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,89}</string>
			</dict>
			<key>118_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,240},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>118_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,138},{102,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,89}</string>
			</dict>
			<key>118_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,0},{178,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,61}</string>
			</dict>
			<key>118_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,287},{107,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,89}</string>
			</dict>
			<key>118_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,138},{108,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,89}</string>
			</dict>
			<key>118_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1715},{110,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,94}</string>
			</dict>
			<key>118_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,180},{107,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,94}</string>
			</dict>
			<key>118_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,291},{101,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,94}</string>
			</dict>
			<key>118_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,492},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,94}</string>
			</dict>
			<key>118_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,227},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>118_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,321},{92,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>118_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,439},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,94}</string>
			</dict>
			<key>118_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,530},{86,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,94}</string>
			</dict>
			<key>118_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,262},{87,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,63}</string>
			</dict>
			<key>118_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,471},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>118_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,379},{92,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>118_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,138},{97,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,94}</string>
			</dict>
			<key>118_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,285},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>
			<key>118_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,392},{100,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,94}</string>
			</dict>
			<key>118_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,186},{105,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,94}</string>
			</dict>
			<key>118_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,80},{105,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,94}</string>
			</dict>
			<key>118_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,0},{224,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,80}</string>
			</dict>
			<key>118_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1251},{232,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,80}</string>
			</dict>
			<key>118_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,0},{226,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,80}</string>
			</dict>
			<key>118_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,138},{87,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,63}</string>
			</dict>
			<key>118_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{224,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,80}</string>
			</dict>
			<key>118_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1483},{232,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,80}</string>
			</dict>
			<key>118_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1964},{232,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,81}</string>
			</dict>
			<key>118_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,312},{83,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,63}</string>
			</dict>
			<key>118_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,395},{83,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,63}</string>
			</dict>
			<key>118_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,225},{87,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,63}</string>
			</dict>
			<key>118_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1875},{88,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,63}</string>
			</dict>
			<key>118_bankerInfo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1652},{232,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,153}</string>
			</dict>
			<key>118_bigChip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,458},{74,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>118_bigChip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,564},{74,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>118_bigChip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,598},{74,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>118_bigChip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,395},{75,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,67}</string>
			</dict>
			<key>118_bigChip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,490},{75,62}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,67}</string>
			</dict>
			<key>118_bigChip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,502},{75,62}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,67}</string>
			</dict>
			<key>118_bigChip2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,559},{73,63}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>118_bigChip2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,677},{73,61}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>118_bigChip2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,622},{74,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>118_bigChip2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,395},{75,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,67}</string>
			</dict>
			<key>118_bigChip2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,616},{75,61}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,67}</string>
			</dict>
			<key>118_bigChip2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,536},{75,62}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,67}</string>
			</dict>
			<key>118_bottom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1249,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1253,71}</string>
			</dict>
			<key>118_btn_back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,56},{41,51}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_back_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,684},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_bank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,274},{47,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_bank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,745},{65,60}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,421},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>118_btn_playList_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,378},{47,46}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_playList_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,471},{65,59}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_rule_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,333},{45,49}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_rule_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,684},{66,61}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_set_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,227},{47,49}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_set_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,362},{64,55}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>118_btn_shangzhuang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,0},{145,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,29}</string>
			</dict>
			<key>118_btn_shangzhuang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,145},{145,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,29}</string>
			</dict>
			<key>118_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,807},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,33}</string>
			</dict>
			<key>118_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,845},{38,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,33}</string>
			</dict>
			<key>118_chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,883},{38,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,33}</string>
			</dict>
			<key>118_chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,769},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>118_chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,921},{38,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>118_chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,959},{38,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>118_chip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1846},{503,29}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,31}</string>
			</dict>
			<key>118_chip_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,349},{90,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,77}</string>
			</dict>
			<key>118_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,769},{61,62}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,65}</string>
			</dict>
			<key>118_dice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,543},{52,58}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>118_dice_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,0},{42,56}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>118_dice_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1994},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>118_dice_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,426},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>118_dice_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1825},{50,56}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>118_dice_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,485},{53,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>118_dice_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1652},{212,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,117}</string>
			</dict>
			<key>118_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,80},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>118_icon_dangqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,997},{46,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,21}</string>
			</dict>
			<key>118_icon_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1089},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>118_icon_zongtou.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1043},{46,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,21}</string>
			</dict>
			<key>118_ludan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1119},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>118_ludan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1141},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>118_ludan_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1163},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>118_ludan_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1185},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>118_ludan_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1207},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>118_ludan_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1229},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>118_ludan_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1884},{232,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,153}</string>
			</dict>
			<key>118_ludan_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1249},{232,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,323}</string>
			</dict>
			<key>118_menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1884},{80,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,390}</string>
			</dict>
			<key>118_shangzhuang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1652},{232,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,153}</string>
			</dict>
			<key>118_tips_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,531},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,33}</string>
			</dict>
			<key>118_tips_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,411},{120,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>
			<key>118_tips_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,290},{121,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,33}</string>
			</dict>
			<key>118_tips_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,650},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,33}</string>
			</dict>
			<key>118_tips_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,174},{159,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,44}</string>
			</dict>
			<key>118_tips_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,261},{155,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,44}</string>
			</dict>
			<key>118_tips_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,1994},{159,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,45}</string>
			</dict>
			<key>118_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1964},{332,82}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,82}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>118_gameLayer.png</string>
			<key>realTextureFileName</key>
			<string>118_gameLayer.png</string>
			<key>size</key>
			<string>{1022,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>