<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27_pri_btn_dismiss_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,902},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>27_pri_btn_dismiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,902},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{78,32}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>27_pri_btn_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,93},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>27_pri_btn_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>27_pri_btn_leave_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,902},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>27_pri_btn_leave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,990},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{78,32}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>27_pri_btn_quit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,648},{192,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,78}}</string>
                <key>sourceSize</key>
                <string>{192,78}</string>
            </dict>
            <key>27_pri_btn_quit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,902},{174,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{174,72}}</string>
                <key>sourceSize</key>
                <string>{192,78}</string>
            </dict>
            <key>27_pri_btn_share_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,648},{192,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,78}}</string>
                <key>sourceSize</key>
                <string>{192,78}</string>
            </dict>
            <key>27_pri_btn_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,648},{176,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{176,72}}</string>
                <key>sourceSize</key>
                <string>{192,78}</string>
            </dict>
            <key>27_pri_im_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1001},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>27_pri_sp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{252,146}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{252,146}}</string>
                <key>sourceSize</key>
                <string>{268,152}</string>
            </dict>
            <key>27_pri_sp_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{611,644}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{611,644}}</string>
                <key>sourceSize</key>
                <string>{621,656}</string>
            </dict>
            <key>27_pri_sp_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,902},{452,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{452,57}}</string>
                <key>sourceSize</key>
                <string>{544,57}</string>
            </dict>
            <key>27_pri_sp_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,842},{508,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{508,58}}</string>
                <key>sourceSize</key>
                <string>{544,58}</string>
            </dict>
            <key>27_pri_txt_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1001},{48,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,21}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>27_pri_txt_count_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1001},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>27_pri_txt_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{100,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,46}</string>
            </dict>
            <key>27_pri_txt_mode11.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,976},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>27_pri_txt_mode12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,982},{75,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,23}}</string>
                <key>sourceSize</key>
                <string>{75,23}</string>
            </dict>
            <key>27_pri_txt_mode13.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,976},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>27_pri_txt_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,982},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>27_pri_txt_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,902},{99,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{99,45}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>27_pri_game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de64b0134aaa38a0b90a7720fac9dd3b$</string>
            <key>textureFileName</key>
            <string>27_pri_game.png</string>
        </dict>
    </dict>
</plist>
