<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>res_client</key>
        <real>115.0000000000000000</real>
        <key>res_game_202</key>
        <real>12.0000000000000000</real>
        <key>res_game_109</key>
        <real>6.0000000000000000</real>
        <key>res_game_105</key>
        <real>4.0000000000000000</real>
        <key>client</key>
        <real>6.0000000000000000</real>
    </dict>
</plist>
