<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove_019_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,270},{134,544}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{134,544}}</string>
                <key>sourceSize</key>
                <string>{156,564}</string>
            </dict>
            <key>fishMove_019_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,666},{138,538}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{138,538}}</string>
                <key>sourceSize</key>
                <string>{156,564}</string>
            </dict>
            <key>fishMove_019_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,406},{132,544}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,544}}</string>
                <key>sourceSize</key>
                <string>{156,564}</string>
            </dict>
            <key>fishMove_019_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,138},{130,550}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,550}}</string>
                <key>sourceSize</key>
                <string>{156,564}</string>
            </dict>
            <key>fishMove_019_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{134,558}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{134,558}}</string>
                <key>sourceSize</key>
                <string>{156,562}</string>
            </dict>
            <key>fishMove_019_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,540},{124,544}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,544}}</string>
                <key>sourceSize</key>
                <string>{154,564}</string>
            </dict>
            <key>fishMove_020_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1601},{360,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,370}}</string>
                <key>sourceSize</key>
                <string>{360,370}</string>
            </dict>
            <key>fishMove_020_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1229},{360,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,370}}</string>
                <key>sourceSize</key>
                <string>{360,370}</string>
            </dict>
            <key>fishMove_020_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,806},{360,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,370}}</string>
                <key>sourceSize</key>
                <string>{360,370}</string>
            </dict>
            <key>fishMove_021_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,230},{226,1001}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,1001}}</string>
                <key>sourceSize</key>
                <string>{226,1001}</string>
            </dict>
            <key>fishMove_021_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,1001}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,1001}}</string>
                <key>sourceSize</key>
                <string>{226,1001}</string>
            </dict>
            <key>fishMove_021_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,686},{226,999}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,999}}</string>
                <key>sourceSize</key>
                <string>{226,999}</string>
            </dict>
            <key>fishMove_021_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,458},{226,999}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,999}}</string>
                <key>sourceSize</key>
                <string>{226,999}</string>
            </dict>
            <key>fishMove_021_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{226,1001}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,1001}}</string>
                <key>sourceSize</key>
                <string>{226,1001}</string>
            </dict>
            <key>fishMove_021_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,1001}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,1001}}</string>
                <key>sourceSize</key>
                <string>{226,1001}</string>
            </dict>
            <key>fishMove_022_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,806},{153,248}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{153,248}}</string>
                <key>sourceSize</key>
                <string>{153,262}</string>
            </dict>
            <key>fishMove_022_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,2},{153,248}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{153,248}}</string>
                <key>sourceSize</key>
                <string>{153,262}</string>
            </dict>
            <key>fishMove_023_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1364},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>fishMove_023_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1360},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>fishMove_023_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1400},{110,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,103}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>fishMove_023_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1362},{112,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,103}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fishMove_023_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1295},{112,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,103}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>fishMove_023_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1268},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>fishMove_023_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1168},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>fishMove_023_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1364},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>fishMove_024_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1257},{116,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,105}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>fishMove_024_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1150},{118,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>fishMove_024_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1188},{118,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,105}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>fishMove_024_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1152},{118,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,105}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>fishMove_024_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1150},{118,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,105}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>fishMove_024_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1150},{116,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,105}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>fishMove_024_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1259},{116,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,101}}</string>
                <key>sourceSize</key>
                <string>{116,101}</string>
            </dict>
            <key>fishMove_024_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1257},{116,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,101}}</string>
                <key>sourceSize</key>
                <string>{116,101}</string>
            </dict>
            <key>fishMove_025_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,914},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishMove_025_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,914},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishMove_025_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,967},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishMove_025_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,705},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishMove_025_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,431},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishMove_025_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,157},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishMove_026_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1034},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>fishMove_026_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1032},{126,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,116}}</string>
                <key>sourceSize</key>
                <string>{126,116}</string>
            </dict>
            <key>fishMove_026_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1032},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>fishMove_026_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,914},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>fishMove_026_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,914},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>fishMove_026_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,914},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
            <key>fishMove_026_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1056},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_move2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0df44305d7b7d941d39b5c64df35fbe$</string>
            <key>textureFileName</key>
            <string>fish_move2.png</string>
        </dict>
    </dict>
</plist>
