<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishDead_001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>fishDead_001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>fishDead_002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>fishDead_002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>fishDead_003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,96}}</string>
                <key>sourceSize</key>
                <string>{28,96}</string>
            </dict>
            <key>fishDead_003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{50,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,92}}</string>
                <key>sourceSize</key>
                <string>{50,92}</string>
            </dict>
            <key>fishDead_004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>fishDead_004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>fishDead_004_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>fishDead_005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{46,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,76}}</string>
                <key>sourceSize</key>
                <string>{46,76}</string>
            </dict>
            <key>fishDead_005_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{48,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,78}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>fishDead_005_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{42,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,76}}</string>
                <key>sourceSize</key>
                <string>{42,76}</string>
            </dict>
            <key>fishDead_006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{64,110}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,110}}</string>
                <key>sourceSize</key>
                <string>{66,114}</string>
            </dict>
            <key>fishDead_006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{66,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,116}}</string>
                <key>sourceSize</key>
                <string>{66,120}</string>
            </dict>
            <key>fishDead_006_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{60,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,120}}</string>
                <key>sourceSize</key>
                <string>{60,124}</string>
            </dict>
            <key>fishDead_007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>fishDead_007_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>fishDead_007_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>fishDead_007_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>fishDead_007_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,34},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>fishDead_007_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,36},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>fishDead_008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{48,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,88}}</string>
                <key>sourceSize</key>
                <string>{48,88}</string>
            </dict>
            <key>fishDead_008_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{48,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,88}}</string>
                <key>sourceSize</key>
                <string>{48,88}</string>
            </dict>
            <key>fishDead_008_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{50,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,86}}</string>
                <key>sourceSize</key>
                <string>{50,86}</string>
            </dict>
            <key>fishDead_009_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,180}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
            <key>fishDead_009_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2},{66,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,178}}</string>
                <key>sourceSize</key>
                <string>{66,178}</string>
            </dict>
            <key>fishDead_010_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,52},{86,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,108}}</string>
                <key>sourceSize</key>
                <string>{86,108}</string>
            </dict>
            <key>fishDead_010_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,46},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>fishDead_010_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,52},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>fishDead_010_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,46},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>fishDead_010_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,46},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>fishDead_010_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,50},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>fishDead_011_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,160},{142,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,138}}</string>
                <key>sourceSize</key>
                <string>{142,138}</string>
            </dict>
            <key>fishDead_011_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,164},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>fishDead_011_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,170},{154,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,150}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>fishDead_011_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,164},{160,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,146}}</string>
                <key>sourceSize</key>
                <string>{160,146}</string>
            </dict>
            <key>fishDead_012_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,70},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{102,98}</string>
            </dict>
            <key>fishDead_012_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>fishDead_012_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,52},{82,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{82,98}</string>
            </dict>
            <key>fishDead_013_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,164},{148,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,158}}</string>
                <key>sourceSize</key>
                <string>{148,158}</string>
            </dict>
            <key>fishDead_013_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,140},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>fishDead_013_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,164},{148,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,158}}</string>
                <key>sourceSize</key>
                <string>{148,158}</string>
            </dict>
            <key>fishDead_014_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,70},{92,264}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,264}}</string>
                <key>sourceSize</key>
                <string>{92,266}</string>
            </dict>
            <key>fishDead_014_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,70},{92,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,266}}</string>
                <key>sourceSize</key>
                <string>{92,266}</string>
            </dict>
            <key>fishDead_014_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,64},{86,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,262}}</string>
                <key>sourceSize</key>
                <string>{86,262}</string>
            </dict>
            <key>fishDead_015_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,152},{140,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,124}}</string>
                <key>sourceSize</key>
                <string>{140,124}</string>
            </dict>
            <key>fishDead_015_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,152},{150,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,124}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>fishDead_015_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,160},{154,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,132}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>fishDead_016_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,68},{90,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,248}}</string>
                <key>sourceSize</key>
                <string>{90,248}</string>
            </dict>
            <key>fishDead_016_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,122},{94,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,246}}</string>
                <key>sourceSize</key>
                <string>{94,246}</string>
            </dict>
            <key>fishDead_016_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,136},{102,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,246}}</string>
                <key>sourceSize</key>
                <string>{102,246}</string>
            </dict>
            <key>fishDead_017_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,278},{156,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,308}}</string>
                <key>sourceSize</key>
                <string>{156,308}</string>
            </dict>
            <key>fishDead_017_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,262},{156,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,308}}</string>
                <key>sourceSize</key>
                <string>{156,308}</string>
            </dict>
            <key>fishDead_017_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{154,306}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,306}}</string>
                <key>sourceSize</key>
                <string>{156,308}</string>
            </dict>
            <key>fishDead_018_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,300},{162,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{162,336}}</string>
                <key>sourceSize</key>
                <string>{168,336}</string>
            </dict>
            <key>fishDead_018_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,312},{164,336}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{164,336}}</string>
                <key>sourceSize</key>
                <string>{168,340}</string>
            </dict>
            <key>fishDead_018_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,322},{166,336}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,336}}</string>
                <key>sourceSize</key>
                <string>{168,336}</string>
            </dict>
            <key>fishDead_019_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{200,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,497}}</string>
                <key>sourceSize</key>
                <string>{200,497}</string>
            </dict>
            <key>fishDead_019_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1026},{262,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,497}}</string>
                <key>sourceSize</key>
                <string>{262,497}</string>
            </dict>
            <key>fishDead_019_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{276,557}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,557}}</string>
                <key>sourceSize</key>
                <string>{276,557}</string>
            </dict>
            <key>fishDead_019_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{292,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,581}}</string>
                <key>sourceSize</key>
                <string>{292,581}</string>
            </dict>
            <key>fishDead_020_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1518},{360,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,370}}</string>
                <key>sourceSize</key>
                <string>{360,370}</string>
            </dict>
            <key>fishDead_021_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1518},{226,1001}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,1001}}</string>
                <key>sourceSize</key>
                <string>{226,1001}</string>
            </dict>
            <key>fishDead_021_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1290},{226,1001}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,1001}}</string>
                <key>sourceSize</key>
                <string>{226,1001}</string>
            </dict>
            <key>fishDead_021_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{226,999}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,999}}</string>
                <key>sourceSize</key>
                <string>{226,999}</string>
            </dict>
            <key>fishDead_021_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,946},{226,999}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,999}}</string>
                <key>sourceSize</key>
                <string>{226,999}</string>
            </dict>
            <key>fishDead_021_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,718},{226,1001}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,1001}}</string>
                <key>sourceSize</key>
                <string>{226,1001}</string>
            </dict>
            <key>fishDead_021_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,490},{226,1001}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,1001}}</string>
                <key>sourceSize</key>
                <string>{226,1001}</string>
            </dict>
            <key>fishDead_025_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishDead_025_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,764},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishDead_025_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,718},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishDead_025_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishDead_025_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,490},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
            <key>fishDead_025_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,436},{272,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{272,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_dead.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1481d796366a37ed5fe4449212506559$</string>
            <key>textureFileName</key>
            <string>fish_dead.png</string>
        </dict>
    </dict>
</plist>
