<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pao_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{52,82}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,67},{52,82}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,114},{74,116}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{74,116}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,120},{104,132}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{104,132}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,466},{74,108}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,41},{74,108}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{52,82}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,67},{52,82}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,232},{104,90}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,57},{104,90}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{116,146}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,146}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,226},{116,130}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{116,130}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{88,118}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{88,118}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,232},{104,90}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,57},{104,90}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,542},{96,74}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,71},{96,74}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>pao_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{110,138}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{110,138}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>pao_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{118,128}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{118,128}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>pao_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,344},{120,122}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{120,122}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>pao_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,542},{96,74}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,71},{96,74}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>pao_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,516},{86,72}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,73},{86,72}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,114},{90,134}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{90,134}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{86,102}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,43},{86,102}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,428},{86,98}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,47},{86,98}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,516},{86,72}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,73},{86,72}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>pao_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,338},{96,88}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,75},{96,88}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>pao_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{116,146}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{116,146}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>pao_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,310},{104,130}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,33},{104,130}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>pao_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,416},{86,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,45},{86,118}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>pao_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,338},{96,88}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,75},{96,88}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>pao_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,504},{96,86}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,76},{96,86}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>pao_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,148}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{112,148}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>pao_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,206},{102,132}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{102,132}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>pao_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{86,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,42},{86,120}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>pao_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,504},{96,86}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,76},{96,86}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pao.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92706cdc1ef8c8cab9380ade111ee1ee$</string>
            <key>textureFileName</key>
            <string>pao.png</string>
        </dict>
    </dict>
</plist>
