<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,817},{56,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,211}}</string>
                <key>sourceSize</key>
                <string>{56,211}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{108,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>buttin_zidong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,622},{81,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,38}}</string>
                <key>sourceSize</key>
                <string>{81,38}</string>
            </dict>
            <key>button_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,705},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>button_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,391},{148,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,104}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>button_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1280},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>button_gameplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1096},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>button_jinqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,285},{149,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,104}}</string>
                <key>sourceSize</key>
                <string>{149,104}</string>
            </dict>
            <key>button_rocord.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1018},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>button_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1018},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>button_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,753},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>button_touzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,675},{222,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,103}}</string>
                <key>sourceSize</key>
                <string>{222,103}</string>
            </dict>
            <key>button_zidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,535},{85,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,38}}</string>
                <key>sourceSize</key>
                <string>{85,38}</string>
            </dict>
            <key>image_beike.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1174},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>image_boluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1104},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>image_bugle.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,502},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>image_chengzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,629},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>image_gbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{842,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{842,561}}</string>
                <key>sourceSize</key>
                <string>{842,561}</string>
            </dict>
            <key>image_juzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,565},{87,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,103}}</string>
                <key>sourceSize</key>
                <string>{87,103}</string>
            </dict>
            <key>image_lingdang.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,629},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>image_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,629},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>image_moneyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,780},{212,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,35}}</string>
                <key>sourceSize</key>
                <string>{212,35}</string>
            </dict>
            <key>image_moneyk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,497},{145,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,36}}</string>
                <key>sourceSize</key>
                <string>{145,36}</string>
            </dict>
            <key>image_ningmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1194},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>image_potao.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,565},{108,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>image_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{169,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,170}}</string>
                <key>sourceSize</key>
                <string>{169,170}</string>
            </dict>
            <key>image_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,535},{136,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,113}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>image_xiangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,565},{105,103}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>image_xigua.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,926},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>image_yingtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,629},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>jump_scatter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1262},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,173},{110,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,163}}</string>
                <key>sourceSize</key>
                <string>{110,163}</string>
            </dict>
            <key>ui_gaozhilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,926},{1059,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1059,35}}</string>
                <key>sourceSize</key>
                <string>{1059,35}</string>
            </dict>
            <key>ui_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,285},{96,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,22}}</string>
                <key>sourceSize</key>
                <string>{96,22}</string>
            </dict>
            <key>ui_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,875},{188,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,49}}</string>
                <key>sourceSize</key>
                <string>{188,49}</string>
            </dict>
            <key>ui_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,565},{474,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,62}}</string>
                <key>sourceSize</key>
                <string>{474,62}</string>
            </dict>
            <key>ui_xinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,383},{117,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,19}}</string>
                <key>sourceSize</key>
                <string>{117,19}</string>
            </dict>
            <key>ui_zongk.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,801},{299,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,52}}</string>
                <key>sourceSize</key>
                <string>{299,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5392c5ae9bffeb9a9ff1d02503740bf:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
