<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,165},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,100},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,407},{49,57}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{49,57}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,404},{61,57}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{61,57}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,294},{63,47}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,295},{61,59}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{61,59}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,230},{63,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,235},{63,57}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,292},{63,55}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,352},{55,59}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{55,59}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,356},{49,57}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{49,57}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,349},{61,57}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{61,57}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,35},{63,47}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,343},{61,59}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{61,59}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,170},{63,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,176},{63,57}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,235},{63,55}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>image_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,295},{55,59}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{55,59}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>game2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>button_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,35},{108,55}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{108,55}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,35},{108,55}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{108,55}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>end.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{263,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,31}}</string>
                <key>sourceSize</key>
                <string>{263,31}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,92},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>image_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,92},{82,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,101}}</string>
                <key>sourceSize</key>
                <string>{82,101}</string>
            </dict>
            <key>shuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,463},{469,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,56}}</string>
                <key>sourceSize</key>
                <string>{469,56}</string>
            </dict>
            <key>shuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,408},{469,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,56}}</string>
                <key>sourceSize</key>
                <string>{469,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e7cc7c10991c64511afbfe08ab1b7e2:1/1$</string>
            <key>textureFileName</key>
            <string>game2.png</string>
        </dict>
    </dict>
</plist>
