<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico_brnn.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,227},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ico_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,155},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ico_hhdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,176},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ico_jdnn.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,104},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ico_shaibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,182},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ico_ysz.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,182},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>task_btn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,260},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>task_btn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,182},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>task_btn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,104},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>task_btn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,104},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>task_btn3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,104},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>task_btn3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,941},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>task_btn4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,941},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>task_btn4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,941},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>task_btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{278,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,88}}</string>
                <key>sourceSize</key>
                <string>{278,88}</string>
            </dict>
            <key>task_btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,104},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>task_btn_ksrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>task_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,182},{91,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,102}}</string>
                <key>sourceSize</key>
                <string>{91,102}</string>
            </dict>
            <key>task_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{929,100}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{929,100}}</string>
                <key>sourceSize</key>
                <string>{951,100}</string>
            </dict>
            <key>task_jindu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,890},{236,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,28}}</string>
                <key>sourceSize</key>
                <string>{236,28}</string>
            </dict>
            <key>task_jindu_value.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,254},{232,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,24}}</string>
                <key>sourceSize</key>
                <string>{232,24}</string>
            </dict>
            <key>task_jinxingzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,104},{141,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,49}}</string>
                <key>sourceSize</key>
                <string>{141,49}</string>
            </dict>
            <key>task_logo_fhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,182},{82,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,83}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>task_logo_lbc.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,941},{76,79}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,79}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>task_logo_thc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{83,81}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{83,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>task_logo_xzc.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,182},{72,86}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{72,86}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>task_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,280},{244,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{244,62}}</string>
                <key>sourceSize</key>
                <string>{246,68}</string>
            </dict>
            <key>task_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,890},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>task_xiangqing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{657,536}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,536}}</string>
                <key>sourceSize</key>
                <string>{661,536}</string>
            </dict>
            <key>task_xiangqing_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,338},{550,328}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,328}}</string>
                <key>sourceSize</key>
                <string>{552,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TaskLayer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cef296373c3b0d2126b59bb9016c6b1:1/1$</string>
            <key>textureFileName</key>
            <string>TaskLayer.png</string>
        </dict>
    </dict>
</plist>
