<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bank_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,691},{169,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,52}}</string>
                <key>sourceSize</key>
                <string>{169,52}</string>
            </dict>
            <key>bank_logo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,431},{171,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,53}}</string>
                <key>sourceSize</key>
                <string>{171,53}</string>
            </dict>
            <key>bank_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,637},{169,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,52}}</string>
                <key>sourceSize</key>
                <string>{169,52}</string>
            </dict>
            <key>bank_logo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,637},{169,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,52}}</string>
                <key>sourceSize</key>
                <string>{169,52}</string>
            </dict>
            <key>bank_logo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,806},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,53}}</string>
                <key>sourceSize</key>
                <string>{169,53}</string>
            </dict>
            <key>bank_logo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,745},{168,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,52}}</string>
                <key>sourceSize</key>
                <string>{168,52}</string>
            </dict>
            <key>bank_logo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,806},{169,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,52}}</string>
                <key>sourceSize</key>
                <string>{169,52}</string>
            </dict>
            <key>bank_logo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,806},{169,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,52}}</string>
                <key>sourceSize</key>
                <string>{169,52}</string>
            </dict>
            <key>bank_logo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,806},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,53}}</string>
                <key>sourceSize</key>
                <string>{169,53}</string>
            </dict>
            <key>bank_logo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,604},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,53}}</string>
                <key>sourceSize</key>
                <string>{169,53}</string>
            </dict>
            <key>btn_bank_10000_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,227},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_10000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,227},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_1000_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,227},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_1000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,811},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_100_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,607},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_100_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,811},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,607},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,227},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_5000_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,227},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_5000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,227},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_500_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,227},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_500_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,227},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_50_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,615},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_50_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,943},{202,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,73}}</string>
                <key>sourceSize</key>
                <string>{202,73}</string>
            </dict>
            <key>btn_bank_exchange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,791},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_bank_exchange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,724},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_bank_exchange_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,642},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_bank_exchange_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,597},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_bank_modify_bankinfo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,227},{232,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,61}}</string>
                <key>sourceSize</key>
                <string>{232,61}</string>
            </dict>
            <key>btn_bank_modify_bankinfo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,227},{232,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,61}}</string>
                <key>sourceSize</key>
                <string>{232,61}</string>
            </dict>
            <key>btn_bank_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,555},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_bank_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,473},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_bank_reset_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,859},{199,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{199,82}}</string>
                <key>sourceSize</key>
                <string>{223,92}</string>
            </dict>
            <key>btn_bank_reset_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,859},{199,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{199,82}}</string>
                <key>sourceSize</key>
                <string>{223,92}</string>
            </dict>
            <key>btn_bank_save_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,604},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_bank_save_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,391},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_bank_take_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,309},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>btn_bank_take_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,227},{192,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,80}}</string>
                <key>sourceSize</key>
                <string>{192,80}</string>
            </dict>
            <key>common_btn_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,514},{178,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,71}}</string>
                <key>sourceSize</key>
                <string>{178,71}</string>
            </dict>
            <key>cz_bank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,623},{234,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{234,57}}</string>
                <key>sourceSize</key>
                <string>{236,57}</string>
            </dict>
            <key>cz_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,227},{237,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,57}}</string>
                <key>sourceSize</key>
                <string>{237,57}</string>
            </dict>
            <key>exchange_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,431},{193,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{193,81}}</string>
                <key>sourceSize</key>
                <string>{207,93}</string>
            </dict>
            <key>exchange_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,514},{193,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{193,81}}</string>
                <key>sourceSize</key>
                <string>{207,93}</string>
            </dict>
            <key>exchange_btn_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,431},{193,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{193,81}}</string>
                <key>sourceSize</key>
                <string>{207,93}</string>
            </dict>
            <key>exchange_btn_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,461},{193,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{193,81}}</string>
                <key>sourceSize</key>
                <string>{207,93}</string>
            </dict>
            <key>img_bank_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,587},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,53}}</string>
                <key>sourceSize</key>
                <string>{169,53}</string>
            </dict>
            <key>img_bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,544},{196,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,61}}</string>
                <key>sourceSize</key>
                <string>{198,61}</string>
            </dict>
            <key>img_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{993,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{993,61}}</string>
                <key>sourceSize</key>
                <string>{993,61}</string>
            </dict>
            <key>img_item_exchange_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{993,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{993,79}}</string>
                <key>sourceSize</key>
                <string>{993,79}</string>
            </dict>
            <key>img_item_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{993,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{993,79}}</string>
                <key>sourceSize</key>
                <string>{993,79}</string>
            </dict>
            <key>img_modify_bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{376,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,72}}</string>
                <key>sourceSize</key>
                <string>{376,72}</string>
            </dict>
            <key>img_open_b ank_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{402,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,29}}</string>
                <key>sourceSize</key>
                <string>{402,29}</string>
            </dict>
            <key>img_open_bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,466},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>img_pass_input_tips0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,461},{152,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,35}}</string>
                <key>sourceSize</key>
                <string>{152,35}</string>
            </dict>
            <key>img_pass_input_tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,466},{153,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,35}}</string>
                <key>sourceSize</key>
                <string>{153,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b882664556a78ca7c3c0c8a96c972d26$</string>
            <key>textureFileName</key>
            <string>bank.png</string>
        </dict>
    </dict>
</plist>
