<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,674},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,494},{93,56}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_bar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,304},{93,50}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,50}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_bar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{93,46}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{93,46}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_bar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,487},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_bar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{111,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{111,89}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_boluo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,311},{87,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_boluo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,889},{81,70}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{81,70}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_boluo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{81,74}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_boluo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,951},{79,58}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_boluo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,582},{81,90}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_boluo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{105,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{105,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_juzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,716},{71,84}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{71,84}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_juzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,768},{81,72}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{81,72}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_juzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,789},{79,68}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{79,68}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_juzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,970},{79,48}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_juzi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,564},{81,90}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_juzi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{87,103}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{87,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_lingdang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{69,80}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_lingdang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,872},{77,66}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{77,66}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_lingdang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,842},{77,66}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{77,66}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_lingdang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,961},{77,52}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_lingdang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,732},{77,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{77,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_lingdang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,396},{83,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{83,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_mangguo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,472},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_mangguo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,779},{91,64}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{91,64}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_mangguo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,769},{91,70}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,70}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_mangguo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{91,58}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,58}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_mangguo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_mangguo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{101,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{101,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_putao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_putao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,589},{93,66}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_putao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,590},{93,72}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_putao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,399},{93,56}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_putao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,294},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_putao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_scatter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,647},{83,86}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{83,86}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_scatter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,644},{87,70}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,70}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_scatter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,957},{69,60}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_scatter_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,859},{85,56}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{85,56}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_scatter_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,478},{87,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_scatter_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,210},{99,103}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{99,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_wild_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,400},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_wild_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{91,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{91,76}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_wild_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,190},{93,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_wild_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,495},{93,76}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_wild_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,212},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_wild_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,109},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{101,107}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_xiangjiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,386},{91,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xiangjiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,862},{93,62}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{93,62}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xiangjiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,95},{93,56}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xiangjiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,889},{89,40}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xiangjiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,304},{91,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xiangjiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,105},{105,103}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_xigua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xigua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,285},{93,66}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xigua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,684},{93,70}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xigua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{93,54}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,54}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xigua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,202},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_xigua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jump_yingtao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,567},{75,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{75,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_yingtao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,685},{81,74}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{81,74}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_yingtao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,811},{81,76}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{81,76}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_yingtao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,910},{81,58}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{81,58}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_yingtao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,380},{81,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>jump_yingtao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,111},{89,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{89,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1_itemJump.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6399aee0076393eefa699fd5393c2cc3:1/1$</string>
            <key>textureFileName</key>
            <string>game1_itemJump.png</string>
        </dict>
    </dict>
</plist>
