<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1132},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1122},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,911},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,874},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,839},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,767},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,304},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,232},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1080},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1080},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,960},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,960},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1039},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1078},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1024},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,970},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>BtTable_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,785},{190,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,95}}</string>
                <key>sourceSize</key>
                <string>{190,95}</string>
            </dict>
            <key>BtTable_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,763},{190,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,95}}</string>
                <key>sourceSize</key>
                <string>{190,95}</string>
            </dict>
            <key>ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,107},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>bt_callBanker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,543},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_callBanker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,695},{133,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,70}}</string>
                <key>sourceSize</key>
                <string>{133,70}</string>
            </dict>
            <key>bt_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,525},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,376},{133,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,74}}</string>
                <key>sourceSize</key>
                <string>{133,74}</string>
            </dict>
            <key>bt_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,605},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>bt_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,605},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>bt_chip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,357},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>bt_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,251},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>bt_exitSetLayer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,953},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bt_exitSetLayer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bt_exit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,910},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>bt_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,860},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>bt_howPlay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,296},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>sourceSize</key>
                <string>{62,90}</string>
            </dict>
            <key>bt_howPlay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,296},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>sourceSize</key>
                <string>{62,90}</string>
            </dict>
            <key>bt_off_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,900},{169,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,51}}</string>
                <key>sourceSize</key>
                <string>{169,51}</string>
            </dict>
            <key>bt_off_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,847},{169,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,51}}</string>
                <key>sourceSize</key>
                <string>{169,51}</string>
            </dict>
            <key>bt_on_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{169,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,51}}</string>
                <key>sourceSize</key>
                <string>{169,51}</string>
            </dict>
            <key>bt_on_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,882},{169,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,51}}</string>
                <key>sourceSize</key>
                <string>{169,51}</string>
            </dict>
            <key>bt_prompt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,463},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_prompt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,452},{133,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,71}}</string>
                <key>sourceSize</key>
                <string>{133,71}</string>
            </dict>
            <key>bt_set_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,787},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,58}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>bt_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,388},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,58}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>bt_showCard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,666},{190,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,95}}</string>
                <key>sourceSize</key>
                <string>{190,95}</string>
            </dict>
            <key>bt_showCard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{190,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,95}}</string>
                <key>sourceSize</key>
                <string>{190,95}</string>
            </dict>
            <key>bt_soundOff_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bt_soundOff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,960},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>bt_sound_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,987},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bt_sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1035},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>bt_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,688},{190,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,95}}</string>
                <key>sourceSize</key>
                <string>{190,95}</string>
            </dict>
            <key>bt_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,569},{190,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,95}}</string>
                <key>sourceSize</key>
                <string>{190,95}</string>
            </dict>
            <key>bt_switch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,659},{110,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>bt_switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,659},{110,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>bt_takeBack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,946},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>bt_takeBack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1063},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>bt_trustee_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_trustee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,935},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>cardFrame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,239},{155,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,211}}</string>
                <key>sourceSize</key>
                <string>{155,211}</string>
            </dict>
            <key>cardFrame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{183,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,235}}</string>
                <key>sourceSize</key>
                <string>{183,235}</string>
            </dict>
            <key>chip_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{254,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,38}}</string>
                <key>sourceSize</key>
                <string>{254,38}</string>
            </dict>
            <key>game_chat_lbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{180,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,108}</string>
            </dict>
            <key>game_chat_rbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,677},{180,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,108}</string>
            </dict>
            <key>left_head_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,251},{210,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,84}}</string>
                <key>sourceSize</key>
                <string>{210,84}</string>
            </dict>
            <key>money_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,356},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,417},{207,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,77}}</string>
                <key>sourceSize</key>
                <string>{207,77}</string>
            </dict>
            <key>ox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,337},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>ox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,615},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,542},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,469},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,396},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,496},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>oxnew_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,771},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>oxnew_frameTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,568},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{519,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,103}}</string>
                <key>sourceSize</key>
                <string>{519,103}</string>
            </dict>
            <key>right_head_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{210,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,84}}</string>
                <key>sourceSize</key>
                <string>{210,84}</string>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,623},{135,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,70}}</string>
                <key>sourceSize</key>
                <string>{135,70}</string>
            </dict>
            <key>sp_buttonBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,107},{240,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,130}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>sp_buttonBg.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{247,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,375}}</string>
                <key>sourceSize</key>
                <string>{247,375}</string>
            </dict>
            <key>sprite_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,118},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{112,114}</string>
            </dict>
            <key>sprite_openCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,935},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>sprite_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,239},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>symbol_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,332},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>symbol_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,142},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_oxnew.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e62a7efdb2223aec75fc33cf00a5687$</string>
            <key>textureFileName</key>
            <string>gameScene_oxnew.png</string>
        </dict>
    </dict>
</plist>
