<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1576},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1379},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1226},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1226},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1226},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1073},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1073},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1073},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1861},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1664},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1467},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1270},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1073},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1861},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1467},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,920},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,920},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,920},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,920},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,767},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,767},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,767},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,767},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,614},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,614},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,614},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,614},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,461},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,461},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,461},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,461},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,308},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,308},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,308},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,308},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,155},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,155},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,155},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,155},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c73136903df27f959efbd26e5c8123e5$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
