<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{473,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,114}}</string>
                <key>sourceSize</key>
                <string>{473,114}</string>
            </dict>
            <key>bt_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,656},{189,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,167}}</string>
                <key>sourceSize</key>
                <string>{189,167}</string>
            </dict>
            <key>btnDown_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,298},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btnDown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,215},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_apply_banker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,805},{237,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,50}}</string>
                <key>sourceSize</key>
                <string>{237,50}</string>
            </dict>
            <key>btn_apply_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,805},{237,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,50}}</string>
                <key>sourceSize</key>
                <string>{237,50}</string>
            </dict>
            <key>btn_applylist_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1896},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>btn_applylist_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1896},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>btn_bet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>btn_bet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,562},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>btn_bet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1799},{227,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,94}}</string>
                <key>sourceSize</key>
                <string>{227,94}</string>
            </dict>
            <key>btn_cancel_apply_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,753},{237,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,50}}</string>
                <key>sourceSize</key>
                <string>{237,50}</string>
            </dict>
            <key>btn_cancel_apply_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,753},{237,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,50}}</string>
                <key>sourceSize</key>
                <string>{237,50}</string>
            </dict>
            <key>btn_cancel_banker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,753},{237,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,50}}</string>
                <key>sourceSize</key>
                <string>{237,50}</string>
            </dict>
            <key>btn_cancel_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,753},{237,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,50}}</string>
                <key>sourceSize</key>
                <string>{237,50}</string>
            </dict>
            <key>btn_exit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1690},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>btn_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1581},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>btn_exit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1472},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,791},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>btn_set_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1359},{111,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,35}}</string>
                <key>sourceSize</key>
                <string>{111,35}</string>
            </dict>
            <key>btn_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1246},{111,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,35}}</string>
                <key>sourceSize</key>
                <string>{111,35}</string>
            </dict>
            <key>btn_sitdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1896},{104,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,135}}</string>
                <key>sourceSize</key>
                <string>{104,135}</string>
            </dict>
            <key>btn_userlist_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1635},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>btn_userlist_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1635},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,381},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>click_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,329},{228,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,388}}</string>
                <key>sourceSize</key>
                <string>{228,388}</string>
            </dict>
            <key>click_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1896},{325,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,138}}</string>
                <key>sourceSize</key>
                <string>{325,138}</string>
            </dict>
            <key>click_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,329},{228,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,388}}</string>
                <key>sourceSize</key>
                <string>{228,388}</string>
            </dict>
            <key>dragon_offuser_next_btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1181},{128,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,48}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>dragon_offuser_next_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1051},{128,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,48}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>dragon_offuser_top_btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,921},{128,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,48}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>dragon_offuser_top_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,791},{128,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,48}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>dragon_player_head_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1210},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>dragon_player_head_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1174},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>dragon_player_head_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1138},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>dragon_player_head_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1102},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>dragon_player_head_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1066},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>dragon_player_head_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1030},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>dragon_player_wan_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,589},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dragon_table_keeping.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,208},{140,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,52}}</string>
                <key>sourceSize</key>
                <string>{140,52}</string>
            </dict>
            <key>feng_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{228,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,388}}</string>
                <key>sourceSize</key>
                <string>{228,388}</string>
            </dict>
            <key>he_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,262},{325,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,138}}</string>
                <key>sourceSize</key>
                <string>{325,138}</string>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1711},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>image_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{864,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{864,95}}</string>
                <key>sourceSize</key>
                <string>{864,95}</string>
            </dict>
            <key>image_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{147,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,148}}</string>
                <key>sourceSize</key>
                <string>{147,148}</string>
            </dict>
            <key>image_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,562},{189,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,45}}</string>
                <key>sourceSize</key>
                <string>{189,45}</string>
            </dict>
            <key>image_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{372,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,115}}</string>
                <key>sourceSize</key>
                <string>{372,115}</string>
            </dict>
            <key>image_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,753},{185,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,45}}</string>
                <key>sourceSize</key>
                <string>{185,45}</string>
            </dict>
            <key>image_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1799},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{169,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,74}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
            <key>long_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,99},{228,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,388}}</string>
                <key>sourceSize</key>
                <string>{228,388}</string>
            </dict>
            <key>more_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{204,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,2}}</string>
                <key>sourceSize</key>
                <string>{204,2}</string>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,560},{1334,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,94}}</string>
                <key>sourceSize</key>
                <string>{1334,94}</string>
            </dict>
            <key>player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,151},{144,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,55}}</string>
                <key>sourceSize</key>
                <string>{144,55}</string>
            </dict>
            <key>player_self_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,463},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{95,97}</string>
            </dict>
            <key>rec_feng.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1429},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rec_he.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1395},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rec_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1361},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,559},{333,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,192}}</string>
                <key>sourceSize</key>
                <string>{333,192}</string>
            </dict>
            <key>room_button_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1311},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>room_button_bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1711},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>sp_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,990},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>sp_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,940},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>sp_jetton_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1463},{170,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,30}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>sp_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{224,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,90}}</string>
                <key>sourceSize</key>
                <string>{224,90}</string>
            </dict>
            <key>sp_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,559},{95,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,53}}</string>
                <key>sourceSize</key>
                <string>{95,53}</string>
            </dict>
            <key>sp_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1918},{115,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,33}}</string>
                <key>sourceSize</key>
                <string>{115,33}</string>
            </dict>
            <key>sp_tip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1799},{117,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,34}}</string>
                <key>sourceSize</key>
                <string>{117,34}</string>
            </dict>
            <key>table_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,589},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>win_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,329},{228,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,388}}</string>
                <key>sourceSize</key>
                <string>{228,388}</string>
            </dict>
            <key>win_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1896},{325,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,138}}</string>
                <key>sourceSize</key>
                <string>{325,138}</string>
            </dict>
            <key>win_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,329},{228,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,388}}</string>
                <key>sourceSize</key>
                <string>{228,388}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72d97311cea72413f8e8e745726b99c4$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
