<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>br_paizhuo_niujiao01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{148,659},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,774},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{75,659},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,586},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,513},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,440},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,367},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,294},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,221},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,148},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao19.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao20.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,75},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao21.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao22.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>br_paizhuo_niujiao23.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hundreds_paizhuo_niujuiao.png</string>
            <key>size</key>
            <string>{232,847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:192e306e9228b056773e0df68a3fcbee:1/1$</string>
            <key>textureFileName</key>
            <string>hundreds_paizhuo_niujuiao.png</string>
        </dict>
    </dict>
</plist>
