<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_104_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{214,215}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{214,215}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_104_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,215},{214,215}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{214,215}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_105_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{218,211}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{218,211}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_105_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{218,211}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{218,211}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_109_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,431},{216,221}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{216,221}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_109_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,431},{216,221}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{216,221}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_122_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,215},{212,219}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{212,219}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_122_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,215},{212,219}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{212,219}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_133_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,215},{212,217}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{212,217}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_133_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,215},{212,217}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{212,217}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_200_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,969},{322,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,381}}</string>
                <key>sourceSize</key>
                <string>{322,381}</string>
            </dict>
            <key>game_200_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,965},{322,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,381}}</string>
                <key>sourceSize</key>
                <string>{322,381}</string>
            </dict>
            <key>game_201_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,882},{318,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,383}}</string>
                <key>sourceSize</key>
                <string>{318,383}</string>
            </dict>
            <key>game_201_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{318,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,383}}</string>
                <key>sourceSize</key>
                <string>{318,383}</string>
            </dict>
            <key>game_202_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,428},{214,225}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{214,225}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_202_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,428},{214,225}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{214,225}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_203_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,649},{318,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,383}}</string>
                <key>sourceSize</key>
                <string>{318,383}</string>
            </dict>
            <key>game_203_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,645},{318,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,383}}</string>
                <key>sourceSize</key>
                <string>{318,383}</string>
            </dict>
            <key>game_211_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{216,211}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{216,211}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_211_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,2},{216,211}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{216,211}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_238_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1293},{332,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,383}}</string>
                <key>sourceSize</key>
                <string>{332,383}</string>
            </dict>
            <key>game_238_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1202},{332,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,383}}</string>
                <key>sourceSize</key>
                <string>{332,383}</string>
            </dict>
            <key>game_27_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1627},{372,383}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,19},{372,383}}</string>
                <key>sourceSize</key>
                <string>{430,415}</string>
            </dict>
            <key>game_28_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,429},{214,221}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{214,221}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_28_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,429},{214,221}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{214,221}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_29_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{326,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,383}}</string>
                <key>sourceSize</key>
                <string>{326,383}</string>
            </dict>
            <key>game_29_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,969},{326,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,383}}</string>
                <key>sourceSize</key>
                <string>{326,383}</string>
            </dict>
            <key>game_36_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,644},{224,239}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{224,239}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_36_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{224,239}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{224,239}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_388_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_388_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_391_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1671},{372,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,393}}</string>
                <key>sourceSize</key>
                <string>{372,393}</string>
            </dict>
            <key>game_391_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1671},{372,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,393}}</string>
                <key>sourceSize</key>
                <string>{372,393}</string>
            </dict>
            <key>game_392_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1536},{372,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,383}}</string>
                <key>sourceSize</key>
                <string>{372,383}</string>
            </dict>
            <key>game_392_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1518},{372,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,383}}</string>
                <key>sourceSize</key>
                <string>{372,383}</string>
            </dict>
            <key>game_393_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1297},{372,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,383}}</string>
                <key>sourceSize</key>
                <string>{372,383}</string>
            </dict>
            <key>game_393_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1297},{372,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,383}}</string>
                <key>sourceSize</key>
                <string>{372,383}</string>
            </dict>
            <key>game_395_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,429},{214,229}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{214,229}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_395_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,429},{214,229}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{214,229}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_406_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,645},{250,235}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{250,235}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_406_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,645},{250,235}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{250,235}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_407_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,429},{214,229}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{214,229}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_407_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,429},{214,229}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{214,229}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_408_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,214},{214,211}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{214,211}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_408_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{214,211}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{214,211}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_409_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1293},{332,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,383}}</string>
                <key>sourceSize</key>
                <string>{332,383}</string>
            </dict>
            <key>game_409_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1202},{332,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,383}}</string>
                <key>sourceSize</key>
                <string>{332,383}</string>
            </dict>
            <key>game_410_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_410_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,214},{212,219}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{212,219}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,214},{212,219}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{212,219}}</string>
                <key>sourceSize</key>
                <string>{258,251}</string>
            </dict>
            <key>game_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamelist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac7612f419afb3c474dc106e3ce2c847$</string>
            <key>textureFileName</key>
            <string>gamelist.png</string>
        </dict>
    </dict>
</plist>
