<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnRegisterAcc_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,377},{176,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,50}}</string>
                <key>sourceSize</key>
                <string>{176,50}</string>
            </dict>
            <key>btnRegisterAcc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{176,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,50}}</string>
                <key>sourceSize</key>
                <string>{176,50}</string>
            </dict>
            <key>btn_account_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,280},{266,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,95}}</string>
                <key>sourceSize</key>
                <string>{266,95}</string>
            </dict>
            <key>btn_account_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{266,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,95}}</string>
                <key>sourceSize</key>
                <string>{266,95}</string>
            </dict>
            <key>btn_fast_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,270},{266,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,95}}</string>
                <key>sourceSize</key>
                <string>{266,95}</string>
            </dict>
            <key>btn_fast_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{266,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,95}}</string>
                <key>sourceSize</key>
                <string>{266,95}</string>
            </dict>
            <key>cbtRem_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{175,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,49}}</string>
                <key>sourceSize</key>
                <string>{175,49}</string>
            </dict>
            <key>cbtRem_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{175,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,49}}</string>
                <key>sourceSize</key>
                <string>{175,49}</string>
            </dict>
            <key>login_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,401}}</string>
                <key>sourceSize</key>
                <string>{276,401}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74878d7e19f41390bb75906fad939897:1/1$</string>
            <key>textureFileName</key>
            <string>logon.png</string>
        </dict>
    </dict>
</plist>
