<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_0000_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,903},{59,77}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,64},{59,77}}</string>
                <key>sourceSize</key>
                <string>{205,159}</string>
            </dict>
            <key>bomb_0001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,800},{109,63}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,86},{109,63}}</string>
                <key>sourceSize</key>
                <string>{205,159}</string>
            </dict>
            <key>bomb_0002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{177,149}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,149}}</string>
                <key>sourceSize</key>
                <string>{205,159}</string>
            </dict>
            <key>bomb_0003_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1136},{169,149}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{169,149}}</string>
                <key>sourceSize</key>
                <string>{205,159}</string>
            </dict>
            <key>bomb_0004_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1065},{183,145}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{183,145}}</string>
                <key>sourceSize</key>
                <string>{205,159}</string>
            </dict>
            <key>bomb_0005_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{193,149}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{193,149}}</string>
                <key>sourceSize</key>
                <string>{205,159}</string>
            </dict>
            <key>bomb_0006_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,896},{193,149}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{193,149}}</string>
                <key>sourceSize</key>
                <string>{205,159}</string>
            </dict>
            <key>bomb_0007_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,998},{191,147}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{191,147}}</string>
                <key>sourceSize</key>
                <string>{205,159}</string>
            </dict>
            <key>dql_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{833,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,328}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>dql_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{831,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{831,326}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>dql_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,560},{361,202}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,90},{361,202}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>dql_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,332},{361,226}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,89},{361,226}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>dql_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{361,228}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,84},{361,228}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>dql_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{361,248}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,66},{361,248}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>dql_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,330},{361,238}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,68},{361,238}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>dql_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,252},{361,238}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,76},{361,238}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>dql_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,330},{445,212}}</string>
                <key>offset</key>
                <string>{42,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,67},{445,212}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>dql_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{361,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,90},{361,148}}</string>
                <key>sourceSize</key>
                <string>{833,328}</string>
            </dict>
            <key>lianDui_0000_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,800},{171,71}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{171,71}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>lianDui_0001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1046},{173,85}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{173,85}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>lianDui_0002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,908},{175,97}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{175,97}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>lianDui_0003_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,914},{159,109}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{159,109}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>lianDui_0004_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1025},{155,109}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{155,109}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>lianDui_0005_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,332},{155,107}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{155,107}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>lianDui_0006_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,489},{153,105}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{153,105}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>lianDui_0007_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,804},{127,97}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{127,97}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>lianDui_0008_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,777},{129,99}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{129,99}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>lianDui_0009_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,644},{131,101}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{131,101}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>plane_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,764},{302,232}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,232}}</string>
                <key>sourceSize</key>
                <string>{304,232}</string>
            </dict>
            <key>plane_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,570},{304,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,232}}</string>
                <key>sourceSize</key>
                <string>{304,232}</string>
            </dict>
            <key>plane_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,662},{304,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,232}}</string>
                <key>sourceSize</key>
                <string>{304,232}</string>
            </dict>
            <key>plane_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,544},{331,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,95}}</string>
                <key>sourceSize</key>
                <string>{331,95}</string>
            </dict>
            <key>rocket_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,896},{124,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,111}}</string>
                <key>sourceSize</key>
                <string>{124,111}</string>
            </dict>
            <key>rocket_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,603},{341,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,57}}</string>
                <key>sourceSize</key>
                <string>{341,57}</string>
            </dict>
            <key>rocket_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,544},{349,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,57}}</string>
                <key>sourceSize</key>
                <string>{349,57}</string>
            </dict>
            <key>rocket_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,492},{306,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,387}}</string>
                <key>sourceSize</key>
                <string>{306,387}</string>
            </dict>
            <key>rocket_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,865},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>rocket_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{356,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,200}}</string>
                <key>sourceSize</key>
                <string>{356,200}</string>
            </dict>
            <key>sunZi_0001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,900},{124,63}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{124,63}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
            <key>sunZi_0002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,869},{134,69}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{134,69}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
            <key>sunZi_0003_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,800},{170,67}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{170,67}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
            <key>sunZi_0004_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,764},{156,61}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,6},{156,61}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
            <key>sunZi_0005_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,867},{122,61}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,6},{122,61}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
            <key>sunZi_0006_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,804},{122,61}}</string>
                <key>offset</key>
                <string>{31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,6},{122,61}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
            <key>sunZi_0007_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,922},{122,61}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,6},{122,61}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
            <key>sunZi_0008_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,662},{88,43}}</string>
                <key>offset</key>
                <string>{69,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,14},{88,43}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
            <key>sunZi_0009_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,752},{72,41}}</string>
                <key>offset</key>
                <string>{65,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,16},{72,41}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
            <key>sunZi_0010_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,826},{72,39}}</string>
                <key>offset</key>
                <string>{71,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,17},{72,39}}</string>
                <key>sourceSize</key>
                <string>{226,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ongame.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39d8ad0674ebd5650fb4ed912768ef00$</string>
            <key>textureFileName</key>
            <string>ongame.png</string>
        </dict>
    </dict>
</plist>
