<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27_pri_btn_cardcharge_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,438},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>27_pri_btn_cardcharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>27_pri_btn_createroom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,210},{203,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,70}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
            <key>27_pri_btn_createroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,237},{199,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{199,66}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
            <key>27_pri_btn_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,153},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>27_pri_btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,126},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>27_pri_btn_myroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,88},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>27_pri_check_dot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,438},{36,34}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{138,34}</string>
            </dict>
            <key>27_pri_check_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{36,34}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{138,34}</string>
            </dict>
            <key>27_pri_sp_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,123},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>27_pri_sp_bankermod.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,95},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>27_pri_sp_card_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{295,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,31}}</string>
                <key>sourceSize</key>
                <string>{295,31}</string>
            </dict>
            <key>27_pri_sp_card_tips_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{339,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,31}}</string>
                <key>sourceSize</key>
                <string>{339,31}</string>
            </dict>
            <key>27_pri_sp_cardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,38},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>27_pri_sp_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,64},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>27_pri_sp_fee.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>27_pri_sp_numbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,51}}</string>
                <key>sourceSize</key>
                <string>{355,51}</string>
            </dict>
            <key>27_pri_sp_player_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,33},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>27_pri_sp_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,95},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>27_pri_room.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626155b8535f518c6651411896eaa1ea$</string>
            <key>textureFileName</key>
            <string>27_pri_room.png</string>
        </dict>
    </dict>
</plist>
