<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_res/46.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{737,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{737,223}</string>
			</dict>
			<key>game_res/48.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,95},{88,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,122}</string>
			</dict>
			<key>game_res/blank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,2},{1,1}}</string>
				<key>offset</key>
				<string>{7,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>game_res/jingao.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,382},{86,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,64}</string>
			</dict>
			<key>game_res/75.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,187},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/76.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,187},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/77.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,270},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/78.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,455},{130,54}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/79.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,455},{130,54}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/80.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,455},{130,54}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/81.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,321},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/82.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,229},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/83.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,321},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/84.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,321},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/85.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,229},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/86.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,321},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/87.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,290},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/88.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,229},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/89.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,424},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/90.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,321},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/91.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,229},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/92.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,229},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/93.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,229},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/94.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,321},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/95.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,321},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/96.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,331},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/97.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,392},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/98.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,453},{130,57}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>game_res/47.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,178},{88,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,122}</string>
			</dict>
			<key>game_res/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,2},{172,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,89}</string>
			</dict>
			<key>game_res/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,2},{172,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shisanshui.png</string>
			<key>realTextureFileName</key>
			<string>shisanshui.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>