<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_104_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,638},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_104_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,638},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_105_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,638},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_105_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,638},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_109_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,638},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_109_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,638},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_122_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,623},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_122_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_133_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,426},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_133_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,426},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_200_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1155},{322,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,381}}</string>
                <key>sourceSize</key>
                <string>{322,381}</string>
            </dict>
            <key>game_200_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,850},{322,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,381}}</string>
                <key>sourceSize</key>
                <string>{322,381}</string>
            </dict>
            <key>game_201_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,850},{318,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,383}}</string>
                <key>sourceSize</key>
                <string>{318,383}</string>
            </dict>
            <key>game_201_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,850},{318,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,383}}</string>
                <key>sourceSize</key>
                <string>{318,383}</string>
            </dict>
            <key>game_202_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,426},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_202_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,426},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_203_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,850},{318,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,383}}</string>
                <key>sourceSize</key>
                <string>{318,383}</string>
            </dict>
            <key>game_203_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{318,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,383}}</string>
                <key>sourceSize</key>
                <string>{318,383}</string>
            </dict>
            <key>game_211_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,426},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_211_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,426},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_238_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1174},{332,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,383}}</string>
                <key>sourceSize</key>
                <string>{332,383}</string>
            </dict>
            <key>game_238_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1170},{332,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,383}}</string>
                <key>sourceSize</key>
                <string>{332,383}</string>
            </dict>
            <key>game_28_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,411},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_28_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_29_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1170},{326,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,383}}</string>
                <key>sourceSize</key>
                <string>{326,383}</string>
            </dict>
            <key>game_29_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1170},{326,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,383}}</string>
                <key>sourceSize</key>
                <string>{326,383}</string>
            </dict>
            <key>game_36_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,214},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_36_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,214},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_388_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,214},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_388_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,214},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_391_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1508},{372,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,393}}</string>
                <key>sourceSize</key>
                <string>{372,393}</string>
            </dict>
            <key>game_392_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1504},{372,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,383}}</string>
                <key>sourceSize</key>
                <string>{372,383}</string>
            </dict>
            <key>game_392_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1498},{372,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,383}}</string>
                <key>sourceSize</key>
                <string>{372,383}</string>
            </dict>
            <key>game_393_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1498},{372,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,383}}</string>
                <key>sourceSize</key>
                <string>{372,383}</string>
            </dict>
            <key>game_393_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1479},{372,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,383}}</string>
                <key>sourceSize</key>
                <string>{372,383}</string>
            </dict>
            <key>game_395_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{195,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,237}}</string>
                <key>sourceSize</key>
                <string>{195,237}</string>
            </dict>
            <key>game_395_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{195,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,237}}</string>
                <key>sourceSize</key>
                <string>{195,237}</string>
            </dict>
            <key>game_406_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,214},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_406_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,214},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_407_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,199},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_407_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_408_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_408_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_409_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1174},{332,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,383}}</string>
                <key>sourceSize</key>
                <string>{332,383}</string>
            </dict>
            <key>game_409_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1170},{332,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,383}}</string>
                <key>sourceSize</key>
                <string>{332,383}</string>
            </dict>
            <key>game_410_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_410_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>game_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamelist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4760bca3ad24099c81eb2431296b0006:1/1$</string>
            <key>textureFileName</key>
            <string>gamelist.png</string>
        </dict>
    </dict>
</plist>
