<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,587},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>Rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,587},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>Rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,587},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>Rank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,807},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>Rank5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,807},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>bt_dismiss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,451},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{92,38}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>bt_dismiss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,411},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{92,38}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>bt_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,587},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_qiut1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,681},{188,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{188,90}}</string>
                <key>sourceSize</key>
                <string>{192,96}</string>
            </dict>
            <key>bt_qiut2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,587},{188,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{188,90}}</string>
                <key>sourceSize</key>
                <string>{192,96}</string>
            </dict>
            <key>bt_share1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,681},{188,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{188,90}}</string>
                <key>sourceSize</key>
                <string>{192,96}</string>
            </dict>
            <key>bt_share2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,491},{188,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{188,90}}</string>
                <key>sourceSize</key>
                <string>{192,96}</string>
            </dict>
            <key>face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,681},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>fanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,393},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>im_end_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{895,583}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{895,583}}</string>
                <key>sourceSize</key>
                <string>{899,611}</string>
            </dict>
            <key>im_invite_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,871},{450,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,131}}</string>
                <key>sourceSize</key>
                <string>{450,131}</string>
            </dict>
            <key>im_pr_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{271,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,115}}</string>
                <key>sourceSize</key>
                <string>{271,115}</string>
            </dict>
            <key>im_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,331},{24,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>pri_land_zanli1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,371},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{92,38}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>pri_land_zanli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,331},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{92,38}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>txt_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,431},{43,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,19}}</string>
                <key>sourceSize</key>
                <string>{45,19}</string>
            </dict>
            <key>txt_count_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,275},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>txt_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,275},{104,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{104,54}}</string>
                <key>sourceSize</key>
                <string>{148,66}</string>
            </dict>
            <key>txt_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,355},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>txt_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,871},{148,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{148,54}}</string>
                <key>sourceSize</key>
                <string>{148,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Zhajinhua_game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d609f50ec52ffc3353123979b634a2$</string>
            <key>textureFileName</key>
            <string>Zhajinhua_game.png</string>
        </dict>
    </dict>
</plist>
