<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>389bt_agree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,520},{153,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,53}}</string>
                <key>sourceSize</key>
                <string>{153,53}</string>
            </dict>
            <key>389bt_agree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,465},{153,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,53}}</string>
                <key>sourceSize</key>
                <string>{153,53}</string>
            </dict>
            <key>389bt_oppose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,410},{153,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,53}}</string>
                <key>sourceSize</key>
                <string>{153,53}</string>
            </dict>
            <key>389bt_oppose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,694},{153,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,53}}</string>
                <key>sourceSize</key>
                <string>{153,53}</string>
            </dict>
            <key>389sp_dismissRoom_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,349},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,960},{207,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{207,60}</string>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,751},{207,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{207,60}</string>
            </dict>
            <key>bt_close_389.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,353},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>bt_createRoom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,751},{203,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,70}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
            <key>bt_createRoom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,751},{199,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{199,66}}</string>
                <key>sourceSize</key>
                <string>{203,70}</string>
            </dict>
            <key>bt_dismiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,642},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>bt_dismiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,688},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>bt_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,637},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bt_help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,487},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bt_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,353},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,353},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_pay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,677},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>bt_pay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,642},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>bt_zanLi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,653},{81,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,33}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>bt_zanLi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,571},{81,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,33}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>cbx_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,410},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>cbx_select_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,960},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{265,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,396}}</string>
                <key>sourceSize</key>
                <string>{265,396}</string>
            </dict>
            <key>close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,960},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,960},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>losescore.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,382},{185,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,21}}</string>
                <key>sourceSize</key>
                <string>{187,21}</string>
            </dict>
            <key>share1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,751},{207,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{207,60}</string>
            </dict>
            <key>share2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,751},{207,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{207,60}</string>
            </dict>
            <key>shujuNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,18}}</string>
                <key>sourceSize</key>
                <string>{150,18}</string>
            </dict>
            <key>sp_bigWinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,513},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>sp_createCost.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,571},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>sp_createRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,410},{281,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,50}}</string>
                <key>sourceSize</key>
                <string>{281,50}</string>
            </dict>
            <key>sp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,195}}</string>
                <key>sourceSize</key>
                <string>{1000,195}</string>
            </dict>
            <key>sp_frame_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{976,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,69}}</string>
                <key>sourceSize</key>
                <string>{976,69}</string>
            </dict>
            <key>sp_frame_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{976,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,69}}</string>
                <key>sourceSize</key>
                <string>{976,69}</string>
            </dict>
            <key>sp_frame_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{976,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,6}}</string>
                <key>sourceSize</key>
                <string>{976,6}</string>
            </dict>
            <key>sp_gameResult.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,479},{129,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,32}}</string>
                <key>sourceSize</key>
                <string>{129,32}</string>
            </dict>
            <key>sp_inningsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,577},{115,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,51}}</string>
                <key>sourceSize</key>
                <string>{115,51}</string>
            </dict>
            <key>sp_lackBean.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,353},{339,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,31}}</string>
                <key>sourceSize</key>
                <string>{339,31}</string>
            </dict>
            <key>sp_lackRoomCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,349},{295,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,31}}</string>
                <key>sourceSize</key>
                <string>{295,31}</string>
            </dict>
            <key>sp_maCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,606},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>sp_myRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,199},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>sp_oneTimesResult.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,750},{193,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,32}}</string>
                <key>sourceSize</key>
                <string>{193,32}</string>
            </dict>
            <key>sp_roomCardBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,349},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
            <key>sp_roomCardNumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,353},{355,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,51}}</string>
                <key>sourceSize</key>
                <string>{355,51}</string>
            </dict>
            <key>sp_roomCardTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,685},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>sp_roomHost.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,575},{40,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,76}}</string>
                <key>sourceSize</key>
                <string>{40,76}</string>
            </dict>
            <key>sp_roomHost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,710},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>sp_roomInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{245,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,148}}</string>
                <key>sourceSize</key>
                <string>{245,148}</string>
            </dict>
            <key>sp_roomLimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,575},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>sp_roomUserNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,520},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>sp_sparrowHz.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,410},{185,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,67}}</string>
                <key>sourceSize</key>
                <string>{185,67}</string>
            </dict>
            <key>sp_threeTimes.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,382},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>sp_timesFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,677},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>sp_userAccount.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,446},{129,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,33}}</string>
                <key>sourceSize</key>
                <string>{129,33}</string>
            </dict>
            <key>winscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{185,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,21}}</string>
                <key>sourceSize</key>
                <string>{187,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>privateRoom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37193a8da4867d205c1b2621253db1b8$</string>
            <key>textureFileName</key>
            <string>privateRoom.png</string>
        </dict>
    </dict>
</plist>
