<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bz0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,2},{128,80}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,94},{128,80}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,2},{128,80}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,94},{128,80}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,812},{144,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,77},{144,114}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1886},{150,132}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{150,132}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1886},{150,132}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{150,132}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{150,134}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,62},{150,134}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,928},{156,142}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,56},{156,142}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1815},{204,184}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,38},{204,184}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,812},{250,226}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{250,226}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,540},{296,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,270}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,540},{296,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,270}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2},{298,268}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{298,268}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,272},{298,266}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{298,266}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>bz0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,272},{298,266}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{298,266}}</string>
                <key>sourceSize</key>
                <string>{300,272}</string>
            </dict>
            <key>playerLogin_0000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1634},{248,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,169}}</string>
                <key>sourceSize</key>
                <string>{248,169}</string>
            </dict>
            <key>playerLogin_0001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,1086},{242,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,179}}</string>
                <key>sourceSize</key>
                <string>{242,179}</string>
            </dict>
            <key>playerLogin_0002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1815},{240,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,173}}</string>
                <key>sourceSize</key>
                <string>{240,173}</string>
            </dict>
            <key>playerLogin_0003_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1634},{250,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,173}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>playerLogin_0004_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{250,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,173}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>playerLogin_0005_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,758},{250,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,173}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>playerLogin_0006_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{250,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,175}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>playerLogin_0007_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1634},{192,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,177}}</string>
                <key>sourceSize</key>
                <string>{192,177}</string>
            </dict>
            <key>ths0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1284},{546,240}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,240}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1040},{546,242}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,242}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1086},{546,244}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,244}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1086},{546,246}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{546,246}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,758},{546,246}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{546,246}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,756},{546,248}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,248}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,508},{546,248}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{546,248}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,256},{546,250}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,250}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,254},{546,250}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,250}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{546,252}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{546,252}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{546,252}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{546,252}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,250}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{548,250}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{546,250}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{546,250}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{546,248}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{546,248}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,506},{546,248}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,248}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1086},{546,246}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{546,246}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{546,246}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,246}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1634},{546,244}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{546,244}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1086},{546,242}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,242}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
            <key>ths0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,1267},{546,240}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{546,240}}</string>
                <key>sourceSize</key>
                <string>{600,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zjh2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6beca882f82fa96392fcd0ea9d3bd00c$</string>
            <key>textureFileName</key>
            <string>zjh2.png</string>
        </dict>
    </dict>
</plist>
