<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fishMove_019_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1334},{178,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,440}</string>
			</dict>
			<key>fishMove_019_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,446},{176,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,440}</string>
			</dict>
			<key>fishMove_019_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1778},{178,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,440}</string>
			</dict>
			<key>fishMove_019_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1334},{178,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,440}</string>
			</dict>
			<key>fishMove_019_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,2},{180,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,440}</string>
			</dict>
			<key>fishMove_019_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1336},{184,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,440}</string>
			</dict>
			<key>fishMove_019_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,892},{190,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,440}</string>
			</dict>
			<key>fishMove_019_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{194,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,440}</string>
			</dict>
			<key>fishMove_019_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,446},{192,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,442}</string>
			</dict>
			<key>fishMove_019_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1336},{188,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,440}</string>
			</dict>
			<key>fishMove_019_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1780},{186,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,440}</string>
			</dict>
			<key>fishMove_019_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,892},{182,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,440}</string>
			</dict>
			<key>fishMove_019_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,446},{176,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,440}</string>
			</dict>
			<key>fishMove_019_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,890},{180,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,440}</string>
			</dict>
			<key>fishMove_019_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,446},{182,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,440}</string>
			</dict>
			<key>fishMove_019_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,2},{178,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,440}</string>
			</dict>
			<key>fishMove_020_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,1035},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>fishMove_020_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,266},{255,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,117}</string>
			</dict>
			<key>fishMove_020_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1164},{255,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,117}</string>
			</dict>
			<key>fishMove_020_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1143},{255,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,115}</string>
			</dict>
			<key>fishMove_020_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,482},{253,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,115}</string>
			</dict>
			<key>fishMove_020_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,467},{251,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,115}</string>
			</dict>
			<key>fishMove_020_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1690},{249,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,113}</string>
			</dict>
			<key>fishMove_020_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,1396},{249,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,113}</string>
			</dict>
			<key>fishMove_020_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,1649},{249,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,113}</string>
			</dict>
			<key>fishMove_020_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,123},{251,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,115}</string>
			</dict>
			<key>fishMove_020_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1808,123},{253,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,113}</string>
			</dict>
			<key>fishMove_020_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,210},{253,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,115}</string>
			</dict>
			<key>fishMove_020_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1079},{255,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,115}</string>
			</dict>
			<key>fishMove_020_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,232},{255,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,117}</string>
			</dict>
			<key>fishMove_020_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,2},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>
			<key>fishMove_020_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,210},{243,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,117}</string>
			</dict>
			<key>fishMove_020_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1396},{239,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,115}</string>
			</dict>
			<key>fishMove_020_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,1275},{235,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,113}</string>
			</dict>
			<key>fishMove_020_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,1156},{237,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,115}</string>
			</dict>
			<key>fishMove_020_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,1902},{243,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,115}</string>
			</dict>
			<key>fishMove_021_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2},{246,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,260}</string>
			</dict>
			<key>fishMove_021_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,1777},{222,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,264}</string>
			</dict>
			<key>fishMove_021_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,661},{208,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,268}</string>
			</dict>
			<key>fishMove_021_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,873},{206,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,266}</string>
			</dict>
			<key>fishMove_021_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,873},{202,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,270}</string>
			</dict>
			<key>fishMove_021_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,2},{202,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,272}</string>
			</dict>
			<key>fishMove_021_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,387},{208,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,270}</string>
			</dict>
			<key>fishMove_021_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1285},{218,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,270}</string>
			</dict>
			<key>fishMove_021_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,890},{220,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,270}</string>
			</dict>
			<key>fishMove_021_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1559},{214,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,270}</string>
			</dict>
			<key>fishMove_021_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,278},{198,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,270}</string>
			</dict>
			<key>fishMove_021_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,2},{196,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,268}</string>
			</dict>
			<key>fishMove_021_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,619},{206,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,264}</string>
			</dict>
			<key>fishMove_021_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,353},{210,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,262}</string>
			</dict>
			<key>fishMove_021_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,2},{226,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,264}</string>
			</dict>
			<key>fishMove_022_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,1275},{204,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,95}</string>
			</dict>
			<key>fishMove_022_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1935,2},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>fishMove_022_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1943},{204,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,99}</string>
			</dict>
			<key>fishMove_022_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,954},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>fishMove_022_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,758},{202,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,99}</string>
			</dict>
			<key>fishMove_022_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1639},{200,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,99}</string>
			</dict>
			<key>fishMove_022_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,380},{200,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,109}</string>
			</dict>
			<key>fishMove_022_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,653},{200,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,101}</string>
			</dict>
			<key>fishMove_022_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1670,722},{204,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,109}</string>
			</dict>
			<key>fishMove_022_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,1392},{204,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,97}</string>
			</dict>
			<key>fishMove_022_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1600},{204,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,97}</string>
			</dict>
			<key>fishMove_022_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,1392},{204,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,97}</string>
			</dict>
			<key>fishMove_023_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,552},{204,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,194}</string>
			</dict>
			<key>fishMove_023_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,274},{204,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,194}</string>
			</dict>
			<key>fishMove_023_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1274,829},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>fishMove_023_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,2},{204,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,190}</string>
			</dict>
			<key>fishMove_023_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,1490},{196,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,190}</string>
			</dict>
			<key>fishMove_023_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1198},{194,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,190}</string>
			</dict>
			<key>fishMove_023_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,760},{190,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,188}</string>
			</dict>
			<key>fishMove_023_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1262},{224,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,222}</string>
			</dict>
			<key>fishMove_024_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,493},{140,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>fishMove_025_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1892,1344},{124,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,110}</string>
			</dict>
			<key>fishMove_025_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,1632},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishMove_025_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1932,861},{122,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>fishMove_025_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,1740},{122,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,125}</string>
			</dict>
			<key>fishMove_025_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,1600},{124,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,136}</string>
			</dict>
			<key>fishMove_025_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,1067},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishMove_025_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,1067},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishMove_025_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1804,861},{124,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,137}</string>
			</dict>
			<key>fishMove_025_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,457},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>fishMove_025_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1802,1506},{122,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,115}</string>
			</dict>
			<key>fishMove_025_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,1458},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishMove_025_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1932,987},{124,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,111}</string>
			</dict>
			<key>fishMove_026_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,1862},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>fishMove_026_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,1214},{126,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,116}</string>
			</dict>
			<key>fishMove_026_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1374},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>fishMove_026_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,1506},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>fishMove_026_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,1374},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>fishMove_026_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,1869},{128,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,118}</string>
			</dict>
			<key>fishMove_026_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,1740},{128,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish_move2.png</string>
			<key>realTextureFileName</key>
			<string>fish_move2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>