<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pao_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,472},{36,69}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,39},{36,69}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,460},{50,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{50,101}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,351},{66,107}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{66,107}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{78,115}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{78,115}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{38,69}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,39},{38,69}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,425},{62,61}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,45},{62,61}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,440},{70,89}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{70,89}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{72,95}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{72,95}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{82,107}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{82,107}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,362},{62,61}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,45},{62,61}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,298},{62,71}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,35},{62,71}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,218},{78,103}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{78,103}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{78,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,105}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,357},{86,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,113}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,230},{76,71}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{76,71}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,323},{76,75}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,31},{76,75}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,335},{78,103}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{78,103}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,111},{78,105}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{78,105}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{86,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,113}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,76},{82,75}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{82,75}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,230},{66,75}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{66,75}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,109},{78,101}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{78,101}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,228},{80,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{80,105}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{86,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{86,113}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,153},{76,75}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{76,75}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pao_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,117},{109,75}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,42},{109,75}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>pao_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{113,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{113,109}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>pao_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,121}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{115,121}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>pao_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,125},{113,93}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,32},{113,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>pao_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,240},{109,75}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,42},{109,75}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf022d0a534cb01c020f3cef3ad89161$</string>
            <key>textureFileName</key>
            <string>pao.png</string>
        </dict>
    </dict>
</plist>
