<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>man_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1227},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1721},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1227},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,982},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,982},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,982},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,737},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,737},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,737},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>man_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,492},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,492},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,492},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,247},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,247},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,247},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>women_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>im_head.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f67f28bb22f758b7458fa380ed33fe0d:1/1$</string>
            <key>textureFileName</key>
            <string>im_head.png</string>
        </dict>
    </dict>
</plist>
