<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnBankPass0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1067},{206,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,71}}</string>
                <key>sourceSize</key>
                <string>{206,71}</string>
            </dict>
            <key>btnBankPass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1530},{206,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,71}}</string>
                <key>sourceSize</key>
                <string>{206,71}</string>
            </dict>
            <key>btnBindPhone0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{188,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,66}}</string>
                <key>sourceSize</key>
                <string>{188,66}</string>
            </dict>
            <key>btnBindPhone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{188,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,66}}</string>
                <key>sourceSize</key>
                <string>{188,66}</string>
            </dict>
            <key>btnPass0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1322},{206,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,71}}</string>
                <key>sourceSize</key>
                <string>{206,71}</string>
            </dict>
            <key>btnPass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1779},{206,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,71}}</string>
                <key>sourceSize</key>
                <string>{206,71}</string>
            </dict>
            <key>btnPerson0.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1586},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>btnPerson1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1586},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>btnSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1690},{30,30}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{30,30}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>btnSel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1690},{30,30}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{30,30}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>btnUnsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1045},{38,38}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,38}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>btnUnsel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1045},{38,38}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,38}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>btn_get_verifycode_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1617},{155,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{157,54}</string>
            </dict>
            <key>btn_get_verifycode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1725},{155,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{157,54}</string>
            </dict>
            <key>btn_share_qq_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,903},{164,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,140}}</string>
                <key>sourceSize</key>
                <string>{166,140}</string>
            </dict>
            <key>btn_share_qq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,903},{164,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,140}}</string>
                <key>sourceSize</key>
                <string>{166,140}</string>
            </dict>
            <key>btn_share_wechat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,903},{164,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,140}}</string>
                <key>sourceSize</key>
                <string>{166,140}</string>
            </dict>
            <key>btn_share_wechat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{164,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,140}}</string>
                <key>sourceSize</key>
                <string>{166,140}</string>
            </dict>
            <key>btn_userinfo_bind_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1766},{228,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,80}}</string>
                <key>sourceSize</key>
                <string>{228,80}</string>
            </dict>
            <key>btn_userinfo_bind_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1766},{228,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,80}}</string>
                <key>sourceSize</key>
                <string>{228,80}</string>
            </dict>
            <key>common_btn_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1586},{178,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,71}}</string>
                <key>sourceSize</key>
                <string>{178,71}</string>
            </dict>
            <key>grxx_touxiang_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,903},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>grxx_userInfo_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1322},{203,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,293}}</string>
                <key>sourceSize</key>
                <string>{203,293}</string>
            </dict>
            <key>inputBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1272},{512,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,52}}</string>
                <key>sourceSize</key>
                <string>{512,52}</string>
            </dict>
            <key>share_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1854},{188,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,29}}</string>
                <key>sourceSize</key>
                <string>{188,29}</string>
            </dict>
            <key>share_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1773},{166,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,77}}</string>
                <key>sourceSize</key>
                <string>{168,77}</string>
            </dict>
            <key>spMan.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1690},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>spWomen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1703},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>sp_ModifyPassMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1786},{162,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,65}}</string>
                <key>sourceSize</key>
                <string>{162,67}</string>
            </dict>
            <key>sp_account_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1617},{157,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,35}}</string>
                <key>sourceSize</key>
                <string>{157,35}</string>
            </dict>
            <key>sp_bind_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1322},{401,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,20}}</string>
                <key>sourceSize</key>
                <string>{401,20}</string>
            </dict>
            <key>sp_confirm_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1617},{156,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,35}}</string>
                <key>sourceSize</key>
                <string>{156,35}</string>
            </dict>
            <key>sp_non_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1586},{115,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,33}}</string>
                <key>sourceSize</key>
                <string>{115,33}</string>
            </dict>
            <key>sp_phone_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1409},{157,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,35}}</string>
                <key>sourceSize</key>
                <string>{157,35}</string>
            </dict>
            <key>sp_spread_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1085},{163,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,35}}</string>
                <key>sourceSize</key>
                <string>{163,35}</string>
            </dict>
            <key>title_gerenzhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1045},{225,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,63}}</string>
                <key>sourceSize</key>
                <string>{225,63}</string>
            </dict>
            <key>topbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1334,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,147}}</string>
                <key>sourceSize</key>
                <string>{1334,147}</string>
            </dict>
            <key>uinfo_btn_cycle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1852},{187,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,255}}</string>
                <key>sourceSize</key>
                <string>{187,255}</string>
            </dict>
            <key>uinfo_btn_cycle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1853},{187,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,255}}</string>
                <key>sourceSize</key>
                <string>{187,255}</string>
            </dict>
            <key>uinfo_btn_wechat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1854},{187,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,255}}</string>
                <key>sourceSize</key>
                <string>{187,255}</string>
            </dict>
            <key>uinfo_btn_wechat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1854},{187,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,255}}</string>
                <key>sourceSize</key>
                <string>{187,255}</string>
            </dict>
            <key>uinfo_sp_sharebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{1046,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1046,704}}</string>
                <key>sourceSize</key>
                <string>{1046,704}</string>
            </dict>
            <key>userinfoAccount.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1654},{85,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,34}}</string>
                <key>sourceSize</key>
                <string>{85,34}</string>
            </dict>
            <key>userinfoHeadMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1322},{262,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,259}}</string>
                <key>sourceSize</key>
                <string>{262,259}</string>
            </dict>
            <key>userinfoLeftBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,903},{417,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,538}}</string>
                <key>sourceSize</key>
                <string>{417,538}</string>
            </dict>
            <key>userinfoLocation.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1568},{120,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,35}}</string>
                <key>sourceSize</key>
                <string>{120,35}</string>
            </dict>
            <key>userinfoRegisterTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1250},{157,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,35}}</string>
                <key>sourceSize</key>
                <string>{157,35}</string>
            </dict>
            <key>userinfoRightBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{802,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{802,546}}</string>
                <key>sourceSize</key>
                <string>{802,546}</string>
            </dict>
            <key>userinfoSex.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1617},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>userinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>verifycode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1031},{121,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,34}}</string>
                <key>sourceSize</key>
                <string>{121,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userinfo.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9db50138eda4733de5b906825203a269$</string>
            <key>textureFileName</key>
            <string>userinfo.png</string>
        </dict>
    </dict>
</plist>
