<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_earn_agent_detail_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>btn_earn_agent_detail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1265},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>btn_earn_copy_link_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1907},{149,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,63}}</string>
                <key>sourceSize</key>
                <string>{149,63}</string>
            </dict>
            <key>btn_earn_copy_link_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1338},{149,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,63}}</string>
                <key>sourceSize</key>
                <string>{149,63}</string>
            </dict>
            <key>btn_earn_intro_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1125},{205,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,60}}</string>
                <key>sourceSize</key>
                <string>{205,60}</string>
            </dict>
            <key>btn_earn_intro_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1063},{205,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,60}}</string>
                <key>sourceSize</key>
                <string>{205,60}</string>
            </dict>
            <key>btn_earn_my_detail_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1022},{205,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,60}}</string>
                <key>sourceSize</key>
                <string>{205,60}</string>
            </dict>
            <key>btn_earn_my_detail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1001},{205,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,60}}</string>
                <key>sourceSize</key>
                <string>{205,60}</string>
            </dict>
            <key>btn_earn_save_qrcode_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,687},{232,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,63}}</string>
                <key>sourceSize</key>
                <string>{232,63}</string>
            </dict>
            <key>btn_earn_save_qrcode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,622},{232,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,63}}</string>
                <key>sourceSize</key>
                <string>{232,63}</string>
            </dict>
            <key>btn_earn_share_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,939},{205,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,60}}</string>
                <key>sourceSize</key>
                <string>{205,60}</string>
            </dict>
            <key>btn_earn_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,877},{205,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,60}}</string>
                <key>sourceSize</key>
                <string>{205,60}</string>
            </dict>
            <key>btn_earn_share_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1416},{303,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,44}}</string>
                <key>sourceSize</key>
                <string>{303,44}</string>
            </dict>
            <key>btn_earn_take_detail_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,815},{205,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,60}}</string>
                <key>sourceSize</key>
                <string>{205,60}</string>
            </dict>
            <key>btn_earn_take_detail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,815},{205,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,60}}</string>
                <key>sourceSize</key>
                <string>{205,60}</string>
            </dict>
            <key>btn_earn_tongji_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1338},{184,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,73}}</string>
                <key>sourceSize</key>
                <string>{184,73}</string>
            </dict>
            <key>btn_earn_tongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1338},{184,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,73}}</string>
                <key>sourceSize</key>
                <string>{184,73}</string>
            </dict>
            <key>btn_earn_vip_detail_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1229},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>btn_earn_vip_detail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1187},{185,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,76}}</string>
                <key>sourceSize</key>
                <string>{185,76}</string>
            </dict>
            <key>btn_earn_zuanjin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1721},{184,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,73}}</string>
                <key>sourceSize</key>
                <string>{184,73}</string>
            </dict>
            <key>btn_earn_zuanjin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{184,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,73}}</string>
                <key>sourceSize</key>
                <string>{184,73}</string>
            </dict>
            <key>img_earn_qrcode_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1416},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>img_qrcode_bg_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>title_earn.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,752},{223,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,61}}</string>
                <key>sourceSize</key>
                <string>{223,61}</string>
            </dict>
            <key>txt_earn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{618,263}}</string>
                <key>offset</key>
                <string>{-19,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,255},{618,263}}</string>
                <key>sourceSize</key>
                <string>{706,633}</string>
            </dict>
            <key>txt_earn_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{512,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,122}}</string>
                <key>sourceSize</key>
                <string>{512,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>earn.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d7e60c62c5f093575681f8012082d60$</string>
            <key>textureFileName</key>
            <string>earn.png</string>
        </dict>
    </dict>
</plist>
