<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_ani_dg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{1334,164}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{1334,164}}</string>
                <key>sourceSize</key>
                <string>{1334,196}</string>
            </dict>
            <key>login_ani_dg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{1316,164}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{1316,164}}</string>
                <key>sourceSize</key>
                <string>{1334,196}</string>
            </dict>
            <key>login_ani_dg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{1310,164}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{1310,164}}</string>
                <key>sourceSize</key>
                <string>{1334,196}</string>
            </dict>
            <key>login_ani_dg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,164}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{1334,164}}</string>
                <key>sourceSize</key>
                <string>{1334,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_ani_dg.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaa458115338c454406b2e6413c2fba9$</string>
            <key>textureFileName</key>
            <string>login_ani_dg.png</string>
        </dict>
    </dict>
</plist>
