<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nv1_buyao_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,896},{165,407}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,52},{165,407}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,818},{167,407}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,52},{167,407}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,816},{169,407}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{169,407}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,751},{167,407}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{167,407}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,407},{169,407}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{169,407}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,407},{169,409}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{169,409}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,428},{171,403}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,56},{171,403}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{171,403}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,56},{171,403}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,314},{171,403}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,56},{171,403}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,829},{169,403}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,56},{169,403}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{171,403}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,56},{171,403}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,141},{171,403}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,56},{171,403}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,658},{169,403}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,56},{169,403}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,487},{169,403}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,56},{169,403}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_buyao_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1000},{167,403}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,56},{167,403}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_chupai_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,443},{145,425}}</string>
                <key>offset</key>
                <string>{-41,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,47},{145,425}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_chupai_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,590},{143,423}}</string>
                <key>offset</key>
                <string>{-41,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,49},{143,423}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_chupai_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1905},{139,409}}</string>
                <key>offset</key>
                <string>{-44,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,63},{139,409}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_chupai_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{137,405}}</string>
                <key>offset</key>
                <string>{-43,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,67},{137,405}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_chupai_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1057},{135,407}}</string>
                <key>offset</key>
                <string>{-40,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,65},{135,407}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_chupai_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,920},{135,407}}</string>
                <key>offset</key>
                <string>{-39,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,65},{135,407}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_chupai_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1905},{137,417}}</string>
                <key>offset</key>
                <string>{-41,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,55},{137,417}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_chupai_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,455},{143,423}}</string>
                <key>offset</key>
                <string>{-42,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,49},{143,423}}</string>
                <key>sourceSize</key>
                <string>{251,477}</string>
            </dict>
            <key>nv1_napaikaishi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,308},{145,426}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,33},{145,426}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,296},{145,426}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,33},{145,426}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{147,428}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,31},{147,428}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{149,428}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,31},{149,428}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,151},{143,428}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,31},{143,428}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,430}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{187,430}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,153},{153,426}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,33},{153,426}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{171,424}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{171,424}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1724},{179,420}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,39},{179,420}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,600},{149,420}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,39},{149,420}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_napaikaishi_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,735},{159,410}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,49},{159,410}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_zhayan_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{153,428}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{153,428}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_zhayan_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{153,428}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{153,428}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_zhayan_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{153,428}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{153,428}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
            <key>nv1_zhayan_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{153,428}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{153,428}}</string>
                <key>sourceSize</key>
                <string>{277,482}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nv1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7416eed6d6ab4d284958efd0f7dcf6dd$</string>
            <key>textureFileName</key>
            <string>nv1.png</string>
        </dict>
    </dict>
</plist>
