<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>agent_order_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,623},{506,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,118}}</string>
                <key>sourceSize</key>
                <string>{506,118}</string>
            </dict>
            <key>agent_order_copy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{506,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,118}}</string>
                <key>sourceSize</key>
                <string>{506,118}</string>
            </dict>
            <key>agent_qq_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1090},{276,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,119}}</string>
                <key>sourceSize</key>
                <string>{276,119}</string>
            </dict>
            <key>agent_qq_copy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,969},{276,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,119}}</string>
                <key>sourceSize</key>
                <string>{276,119}</string>
            </dict>
            <key>agent_recharge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,570},{749,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,540}}</string>
                <key>sourceSize</key>
                <string>{749,540}</string>
            </dict>
            <key>agent_wechat_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,520},{276,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,119}}</string>
                <key>sourceSize</key>
                <string>{276,119}</string>
            </dict>
            <key>agent_wechat_copy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,399},{276,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,119}}</string>
                <key>sourceSize</key>
                <string>{276,119}</string>
            </dict>
            <key>btn_agent_recharge_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1211},{616,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,119}}</string>
                <key>sourceSize</key>
                <string>{616,119}</string>
            </dict>
            <key>btn_agent_recharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{616,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,119}}</string>
                <key>sourceSize</key>
                <string>{616,119}</string>
            </dict>
            <key>btn_agent_summit_ok_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,887},{307,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,80}}</string>
                <key>sourceSize</key>
                <string>{307,80}</string>
            </dict>
            <key>btn_agent_summit_ok_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,805},{307,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,80}}</string>
                <key>sourceSize</key>
                <string>{307,80}</string>
            </dict>
            <key>btn_agent_summit_sq_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,723},{307,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,80}}</string>
                <key>sourceSize</key>
                <string>{307,80}</string>
            </dict>
            <key>btn_agent_summit_sq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,641},{307,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,80}}</string>
                <key>sourceSize</key>
                <string>{307,80}</string>
            </dict>
            <key>btn_agent_toushu_daili_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,310},{279,87}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,87}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>btn_agent_toushu_daili_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,310},{279,87}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,87}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>btn_agent_upload_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,623},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>btn_agent_upload_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,623},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>daili_btn_jbdls_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,1102},{228,54}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{228,54}}</string>
                <key>sourceSize</key>
                <string>{244,54}</string>
            </dict>
            <key>jubao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{940,619}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{940,619}}</string>
                <key>sourceSize</key>
                <string>{940,625}</string>
            </dict>
            <key>recharge_btn-close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1950},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>recharge_btn-close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1950},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>shop_agent_qr_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,233},{289,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,75}}</string>
                <key>sourceSize</key>
                <string>{289,75}</string>
            </dict>
            <key>shop_agent_sq_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,156},{289,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,75}}</string>
                <key>sourceSize</key>
                <string>{289,75}</string>
            </dict>
            <key>shop_agent_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,79},{289,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,75}}</string>
                <key>sourceSize</key>
                <string>{289,75}</string>
            </dict>
            <key>shop_agent_toushu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,2},{289,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,75}}</string>
                <key>sourceSize</key>
                <string>{289,75}</string>
            </dict>
            <key>shop_img_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,969},{65,72}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{65,72}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>shop_img_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,1036},{67,64}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{67,64}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>tishi_tk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{801,566}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{801,566}}</string>
                <key>sourceSize</key>
                <string>{801,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_agent.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3e8e89d8eeee81338d95fbc6872cd59:1/1$</string>
            <key>textureFileName</key>
            <string>shop_agent.png</string>
        </dict>
    </dict>
</plist>
