<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,84},{105,103}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>common_icon_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,362},{83,86}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{83,86}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>common_icon_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,189},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>common_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>common_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>common_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>common_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>common_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,189},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{68,80}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>common_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{74,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>common_icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{108,80}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>common_icon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,277},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{70,84}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1_itemCommon.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d78d5144d98b832795e6df8ffb61e62:1/1$</string>
            <key>textureFileName</key>
            <string>game1_itemCommon.png</string>
        </dict>
    </dict>
</plist>
